<svg class="bg__content" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="4 0 161 289">
  <rect width="163.06" height="289.77" x="4.07" class="cls-1"/>
  <rect width="80.03" height="216.05" x="52.28" y="74.52"/>
  <rect width="106.4" height="109.69" x="31.16" y="74.1"/>
  <rect width="46.95" height="34.77" x="39.2" y="141.22" class="cls-1"/>
  <rect width="25.59" height="48.14" x="90.12" y="188.21" class="cls-1"/>
  <polygon points="99.52 43.98 114.51 56.59 129.5 69.2 99.52 69.2 69.55 69.2 84.53 56.59 99.52 43.98"/>
  <polygon points="19.78 216.21 29.67 233.34 39.55 250.47 19.78 250.47 0 250.47 9.89 233.34 19.78 216.21"/>
  <polygon points="19.78 236.14 29.67 253.27 39.55 270.39 19.78 270.39 0 270.39 9.89 253.27 19.78 236.14"/>
  <polygon points="19.78 256.07 29.67 273.19 39.55 290.32 19.78 290.32 0 290.32 9.89 273.19 19.78 256.07"/>
  <ellipse cx="55.48" cy="26.47" rx="43.55" ry="11.35"/>
  <ellipse cx="55.48" cy="26.1" rx="24.02" ry="19.5"/>
  <circle cx="28.19" cy="25.8" r="2.89" class="cls-1 monsters_window"/>
  <circle cx="39.1" cy="25.8" r="2.89" class="cls-1 monsters_window"/>
  <circle cx="50.02" cy="25.8" r="2.89" class="cls-1 monsters_window"/>
  <circle cx="60.69" cy="25.8" r="2.89" class="cls-1 monsters_window"/>
  <circle cx="71.85" cy="25.8" r="2.89" class="cls-1 monsters_window"/>
  <circle cx="82.76" cy="25.8" r="2.89" class="cls-1 monsters_window"/>
  <rect width="70.71" height="7.31" x="80.95" y="68.42"/>
  <rect width="42.63" height="7.31" x="23.36" y="127.55"/>
  <rect width="42.63" height="7.31" x="110.4" y="162.38"/>
  <rect width="31.72" height="7.31" x="127.4" y="169.69"/>
  <rect width="42.63" height="7.31" x="122.58" y="177"/>
  <rect width="18.16" height="7.31" x="153.14" y="184.3"/>
  <rect width="6.88" height="7.31" x="161.05" y="191.61"/>
  <rect width="34.61" height="47.65" x="92.16" y="81.37" class="cls-1"/>

  <g>
    <rect background-anchor monster-name="alien" id="anchor-1" class="alien" x="50" y="74.07" width="0.01" height="1"></rect>
    <rect background-anchor monster-name="yaga" id="anchor-2" class="yaga" x="134" y="53.7" width="0.01" height="1"></rect>
    <rect background-anchor monster-name="ghost" id="anchor-3" class="ghost" x="74" y="95.9" width="0.01" height="1"></rect>
    <rect background-anchor monster-name="mummy" id="anchor-4" class="mummy" x="34" y="127" width="0.01" height="1"></rect>
    <rect background-anchor monster-name="spider" id="anchor-5" class="spider" x="152" y="67.8" width="0.01" height="1"></rect>
    <rect background-anchor monster-name="skeleton" id="anchor-6" class="skeleton" x="106.4" y="124.5" width="0.01" height="1"></rect>
    <rect background-anchor monster-name="doctor" id="anchor-7" class="doctor" x="145" y="162.3" width="0.001" height="1"></rect>
    <rect background-anchor monster-name="bed" id="anchor-8" class="bed" x="63.8" y="176.9" width="0.001" height="1"></rect>
    <rect background-anchor monster-name="wolf" id="anchor-9" class="wolf" x="29" y="288.6" width="0.001" height="1"></rect>
    <rect background-anchor monster-name="yeti" id="anchor-10" class="yeti" x="86.2" y="290.6" width="0.001" height="1"></rect>
    <rect background-anchor monster-name="vampire" id="anchor-11" class="vampire" x="102.5" y="235.25" width="0.001" height="1"></rect>
    <rect background-anchor monster-name="zombie" id="anchor-12" class="zombie" x="142.45" y="289.9" width="0.001" height="1"></rect>
  </g>
</svg>
