skeleton {
  .skeleton {
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;

    &__screen {
      background-color: black;
    }

    & .head--figure {
      fill: #fff;
    }

    & .ear {
      fill: #fff;
    }

    & .eyelash {
      fill:none;
      stroke:#000;
      stroke-miterlimit:10;
      stroke-width:2px;
    }

    & .eyeball--lid {
      fill: white;
    }

    & .mouth {
      fill: #f24942;
    }

    & .jaw {
      fill: #fff;
    }

    & .tooth {
      fill: #000;
    }

    & .teeth--hidden.fadeIn .tooth:not(.tooth--shown) {
      transition: fill .2s linear;
      fill: rgba(0,0,0,0);
    }

    & .fadeIn .tooth {
      transition: fill .2s linear;
      fill: white;
    }

    & .fadeOut .tooth {
      transition: fill .2s linear;
      fill: black;
    }

    & .rib {
      fill: #fff;
    }

    & .pupil {
      fill: #f24942;
    }
  }

}
