<svg class="skeleton svg-container" viewBox="0 0 200.62 322.01" width="auto" height="90%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <g class="">
      <g class="head">
         <ellipse class="head head--figure" cx="99.95" cy="67.37" rx="89.2" ry="67.38"></ellipse>
         <g class="content">
            <g class="jaws">
               <g class="jaw jaw--top">
                  <rect class="jaw" x="43.33" y="95.52" width="113.24" height="63.9"></rect>
                  <g class="teeth">
                     <rect class="tooth" x="53.24" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="69.77" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="86.3" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="102.83" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="119.37" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="135.9" y="143.29" width="10.75" height="10.75"></rect>
                  </g>
               </g>
               <g class="jaw jaw--bottom">
                  <rect class="jaw" x="43.33" y="169.54" width="113.24" height="28.52"></rect>
                  <g class="teeth">
                     <rect class="tooth" x="53.24" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="69.77" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="86.3" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="102.83" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="119.37" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="135.9" y="178.43" width="10.75" height="10.75"></rect>
                  </g>
               </g>
            </g>
            <g monster-part part-name="eyes" part-type="group" class="eyes">
               <g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--right">
                  <circle class="eyeball" cx="129.44" cy="66.37" r="25.31"></circle>
                  <circle class="pupil" cx="136.88" cy="58.14" r="10.09"></circle>
               </g>
               <g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--left">
                  <circle class="eyeball" cx="70.45" cy="66.37" r="25.31"></circle>
                  <circle class="pupil" cx="72.84" cy="76.61" r="10.09"></circle>
               </g>
            </g>
            <g monster-part part-group="eyes" part-type="container"></g>
            <polygon class="nose" points="99.95 91.72 112.37 113.24 124.8 134.76 99.95 134.76 75.09 134.76 87.52 113.24 99.95 91.72"></polygon>
         </g>
      </g>
      <g class="body">
         <rect class="rib" y="227.64" width="200.62" height="21.55"></rect>
         <rect class="rib" y="264.11" width="200.62" height="21.55"></rect>
         <rect class="rib" y="300.59" width="200.62" height="21.55"></rect>
      </g>
   </g>
</svg>
