<svg class="skeleton svg-container" viewBox="-20 -30 240.62 352.01" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <svg monster-part part-name="confetti" part-type="group" part-hidden="true" visibility="hidden" width="296.715" height="360" y="-20" x="-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 226.5 274.1">
    <circle class="confetti--color--yellow" cx="21.58" cy="35.85" r="3.58" transform="translate(-20 31.23) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="3.58" cy="67.85" r="3.58" transform="translate(-52.5 29.5) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="35.58" cy="88.51" r="3.58" transform="translate(-56.35 63.04) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="14.25" cy="135.18" r="3.58" transform="translate(-101.81 64.42) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="192.92" cy="100.51" r="3.58" transform="translate(-4.09 192.75) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="222.92" cy="96.51" r="3.58" transform="translate(10.87 215.02) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="198.25" cy="47.18" r="3.58" transform="translate(40.38 176.04) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="190.25" cy="133.18" r="3.58" transform="translate(-31.09 203.46) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="207.58" cy="151.85" r="3.58" transform="translate(-39.12 224.57) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="216.92" cy="205.85" r="3.58" transform="translate(-78.35 253.19) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="171.58" cy="183.18" r="3.58" transform="translate(-78.15 208.27) rotate(-52.61)"/>
    <circle class="confetti--color--yellow" cx="212.92" cy="270.51" r="3.58" transform="translate(-131.3 275.41) rotate(-52.61)"/>
    <circle class="confetti--color--blue" cx="33.58" cy="19.18" r="5.18" transform="translate(-2.05 34.22) rotate(-52.61)"/>
    <circle class="confetti--color--blue" cx="11.58" cy="97.85" r="5.18" transform="translate(-73.19 47.63) rotate(-52.61)"/>
    <circle class="confetti--color--blue" cx="42.92" cy="117.18" r="5.18" transform="translate(-76.25 80.12) rotate(-52.61)"/>
    <circle class="confetti--color--blue" cx="11.58" cy="167.18" r="5.18" transform="translate(-128.28 74.87) rotate(-52.61)"/>
    <circle class="confetti--color--blue" cx="184.92" cy="161.85" r="5.18" transform="translate(-55.96 210.49) rotate(-52.61)"/>
    <circle class="confetti--color--blue" cx="214.25" cy="230.51" r="5.18" transform="translate(-99 260.76) rotate(-52.61)"/>
    <circle class="confetti--color--blue" cx="12.92" cy="253.18" r="5.18" transform="translate(-196.08 109.7) rotate(-52.61)"/>
    <circle class="confetti--color--blue" cx="209.58" cy="118.51" r="5.18" transform="translate(-11.85 213.07) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="40.92" cy="149.18" r="5.18" transform="translate(-102.46 91.1) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="22.92" cy="63.18" r="5.18" transform="translate(-41.2 43.02) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="11.58" cy="13.18" r="5.18" transform="translate(-5.92 14.38) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="70.92" cy="5.18" r="5.18" transform="translate(23.74 58.38) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="212.92" cy="22.51" r="5.18" transform="translate(65.74 178.01) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="211.58" cy="70.51" r="5.18" transform="translate(27.08 195.8) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="172.92" cy="117.18" r="5.18" transform="translate(-25.19 183.41) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="212.92" cy="177.18" r="5.18" transform="translate(-57.15 238.76) rotate(-52.61)"/>
    <circle class="confetti--color--red" cx="12.92" cy="211.18" r="5.18" transform="translate(-162.71 93.21) rotate(-52.61)"/>
  </svg>

   <g monster-part part-name="outer" part-type="group" class="">
    <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

    <g monster-part part-name="body" part-type="group" part-outline="true" class="body">
        <rect class="rib" y="227.64" width="200.62" height="21.55"></rect>
        <rect class="rib" y="264.11" width="200.62" height="21.55"></rect>
        <rect class="rib" y="300.59" width="200.62" height="21.55"></rect>
    </g>
    <g monster-part part-group="body" part-type="container"></g>
    <g class="head">
         <ellipse monster-part part-name="head-figure" part-type="group" class="head head--figure" cx="99.95" cy="67.37" rx="89.2" ry="67.38"></ellipse>
         <g class="content">
          <g monster-part part-name="ears" part-type="group" part-hidden="true" visibility="hidden" part-outline="true" class="ears">
            <ellipse class="ear" cx="15" cy="90" rx="11" ry="13.33"/>
            <ellipse class="ear" cx="186" cy="90" rx="11" ry="13.33"/>
          </g>
          <g monster-part part-group="ears" part-type="container"></g>

            <g monster-part part-name="mouth" part-type="group" class="jaws">
               <g class="jaw jaw--top">
                  <rect class="jaw" x="43.33" y="95.52" width="113.24" height="63.9"></rect>
                  <g monster-part part-name="teeth" part-type="group" class="teeth">
                     <rect class="tooth" x="53.24" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="69.77" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="86.3" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="102.83" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="119.37" y="143.29" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="135.9" y="143.29" width="10.75" height="10.75"></rect>
                  </g>
               </g>
               <g class="jaw jaw--bottom">
                  <rect class="jaw" x="43.33" y="169.54" width="113.24" height="28.52"></rect>
                  <g monster-part part-name="hidden-jaw" part-type="group" part-hidden="true" visibility="hidden">
                    <rect class="jaw" x="43.33" y="149.54" width="113.24" height="28.52"></rect>
                  </g>
                  <g monster-part part-name="teeth" part-type="group" class="teeth">
                     <rect class="tooth" x="53.24" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="69.77" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="86.3" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="102.83" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="119.37" y="178.43" width="10.75" height="10.75"></rect>
                     <rect class="tooth" x="135.9" y="178.43" width="10.75" height="10.75"></rect>
                  </g>
               </g>
            </g>
            <svg width="139.9" height="25.56" x="30" y="34" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 104.32 20.25">
              <g monster-part part-name="eyelashes" part-type="group" part-hidden="true" visibility="hidden" class="eyelashes">
                <line class="eyelash" x1="0.71" y1="8.19" x2="12.06" y2="19.54"/>
                <line class="eyelash" x1="1.95" y1="4.45" x2="13.3" y2="15.8"/>
                <line class="eyelash" x1="3.2" y1="0.71" x2="14.55" y2="12.06"/>
                <line class="eyelash" x1="89.77" y1="12.06" x2="101.12" y2="0.71"/>
                <line class="eyelash" x1="91.02" y1="15.8" x2="102.37" y2="4.45"/>
                <line class="eyelash" x1="92.26" y1="19.54" x2="103.61" y2="8.19"/>
              </g>
            </svg>
            <g monster-part part-name="eyes" part-type="group" class="eyes">
               <g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--right">
                  <circle class="eyeball" cx="129.44" cy="66.37" r="25.31"></circle>
                  <circle class="pupil" cx="136.88" cy="58.14" r="10.09"></circle>
               </g>
               <g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--left">
                  <circle class="eyeball" cx="70.45" cy="66.37" r="25.31"></circle>
                  <circle class="pupil" cx="72.84" cy="76.61" r="10.09"></circle>
               </g>
            </g>
            <g monster-part part-group="mouth" part-type="container"></g>
            <g monster-part part-group="eyes" part-type="container"></g>
            <g monster-part part-group="nose" part-type="container"></g>
            <g monster-part part-name="nose" part-type="group">
              <polygon class="nose" points="99.95 91.72 112.37 113.24 124.8 134.76 99.95 134.76 75.09 134.76 87.52 113.24 99.95 91.72"></polygon>
            </g>
         </g>
         <g monster-part part-group="head-figure" part-type="container"></g>
    </g>

    <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
   </g>
</svg>
