monster {
  position: relative;
  z-index: 0;

  & .confetti {
    &--color {
      &--red {
        fill:#f24943;
      }
      &--blue {
        fill:#00b8ce;
      }
      &--yellow {
        fill:#f1ea35;
      }
      &--pink {
        fill:#cf6cac;
      }
      &--dark-blue {
        fill:#586ab1;
      }
      &--green {
        fill:#00b15d;
      }
      &--dark-yellow {
        fill:#f9e830;
      }
      &--dirty-yellow {
        fill:#d0da3e;
      }
      &--purple {
        fill:#9a5790;
      }
    }
  }

  &.mummy__screen {
    background-color: #3f2721;
  }
  &.bed__screen {
    background-color: #003D4E;
  }

  &.ghost__screen {
    background-color: #000;
  }

  &.yeti__screen {
    background-color: #fff;
  }

  &.doctor__screen {
    background-color: #f24943;
  }

  &.yaga__screen {
    background-color: #72538e;
  }

  &.skeleton__screen {
    background-color: #000;
  }
  &.zombie__screen {
    background-color: #f46540;
  }
  &.wolf__screen {
    background-color: #4eb959;
  }
  &.vampire__screen {
    background-color: #3b457e;
  }
  &.spider__screen {
    background-color: #f1ea35;
  }
  &.alien__screen {
    background-color: #000;
  }

}
