<ng-template trinket-uniq-part part-name="default">
  <svg class="mole" width="75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.86 63.82">
      <g>
        <circle class="cls-1" cx="15.45" cy="19.12" r="11.25"></circle>
        <line class="cls-2" x1="19.58" y1="18.74" x2="41.4" y2="12.04"></line>
        <line class="cls-2" x1="14.79" y1="0.03" x2="15.45" y2="19.12"></line>
        <line class="cls-2" x1="0.47" y1="28.23" x2="10.58" y2="20.99"></line>
      </g>
      <g>
         <circle class="cls-1" cx="44.61" cy="34.95" r="11.25" transform="translate(-11.8 40.41) rotate(-43.6)"></circle>
         <line class="cls-2" x1="47.73" y1="37.68" x2="45" y2="55.89"></line>
         <line class="cls-2" x1="27.68" y1="30.39" x2="39.89" y2="32.72"></line>
       </g>
      <g>
       <circle class="cls-1" cx="11.25" cy="52.57" r="11.25" transform="translate(-33.15 22.26) rotate(-43.6)"></circle>
      </g>
  </svg>
</ng-template>

<ng-template trinket-uniq-part>
  <svg class="mole" width="32" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.5 22.5">
     <circle class="cls-1" cx="11.25" cy="11.25" r="11.25" transform="translate(-4.65 10.86) rotate(-43.6)"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part>
  <svg class="mole" width="42" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.32 32.29">
    <g>
      <circle class="cls-1" cx="17.07" cy="11.25" r="11.25" transform="translate(-3.05 14.87) rotate(-43.6)"/>
      <line class="cls-2" x1="20.19" y1="13.98" x2="17.46" y2="32.18"/>
      <line class="cls-2" x1="0.14" y1="6.68" x2="12.35" y2="9.01"/>
    </g>
  </svg>
</ng-template>

<ng-template trinket-uniq-part>
  <svg class="mole" width="63" height="45" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.59 30.36">
    <circle class="cls-1" cx="15.42" cy="19.12" r="11.25"/>
    <line class="cls-2" x1="19.54" y1="18.74" x2="41.37" y2="12.04"/>
    <line class="cls-2" x1="14.75" y1="0.03" x2="15.42" y2="19.12"/>
    <line class="cls-2" x1="0.44" y1="28.23" x2="10.54" y2="20.99"/>
  </svg>
</ng-template>
