mummy {
  .mummy {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    overflow: visible;

    & .head--figure {
      fill: #fff;
    }

    & .mouth-figure--dark {
      fill: rgb(225, 178, 133);
    }

    & .ear {
      fill: #b48d69;
    }

    & .eyelash {
      fill:none;
      stroke:#000;
      stroke-miterlimit:10;
      stroke-width:2px;
    }

    & .head-part {
      fill: #ffd7a5;

      &--dark {
        fill: #e1b285;
      }

      &--empty {
        fill: #000;
      }
    }

    & .body-part {
      fill: #ffd7a5;

      &--dark {
        fill: #e1b285;
      }
    }

    & .tooth {
      fill: #fff;
    }

    & .eyeball {
      fill: #f24943;
    }

    & .decor {
      &__bandage {
        fill: #e1b285;
      }
    }
  }
}
