<ng-template trinket-uniq-part part-name="default">
  <svg class="earrings--default" width="75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140.12 127.91">
    <path class="cls-1" d="M49.78,21.17C49.78,10.36,45,1.59,39,1.59S28.32,10.36,28.32,21.17V51.73"/>
    <ellipse class="cls-2" cx="28.42" cy="51.32" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="28.76" cy="120.84" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="38.79" cy="116.35" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="45.43" cy="107.61" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="48.75" cy="97.39" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="49.78" cy="86.16" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="48.5" cy="75.43" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="45.18" cy="64.95" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="38.54" cy="55.72" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="18.19" cy="116.51" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="11.55" cy="107.78" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="8.23" cy="97.55" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="7.21" cy="86.33" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="8.48" cy="75.6" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="11.8" cy="65.12" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="18.45" cy="55.89" rx="5.62" ry="5.49"/>
    <ellipse class="cls-3" cx="28.76" cy="85.91" rx="15.07" ry="29.19"/>
    <path class="cls-1" d="M90.34,21.17c0-10.82,4.8-19.58,10.73-19.58s10.73,8.77,10.73,19.58V51.73"/>
    <ellipse class="cls-2" cx="111.7" cy="51.32" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="111.36" cy="120.84" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="101.32" cy="116.35" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="94.68" cy="107.61" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="91.36" cy="97.39" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="90.34" cy="86.16" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="91.62" cy="75.43" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="94.94" cy="64.95" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="101.58" cy="55.72" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="121.92" cy="116.51" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="128.57" cy="107.78" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="131.89" cy="97.55" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="132.91" cy="86.33" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="131.63" cy="75.6" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="128.31" cy="65.12" rx="5.62" ry="5.49"/>
    <ellipse class="cls-2" cx="121.67" cy="55.89" rx="5.62" ry="5.49"/>
    <ellipse class="cls-3" cx="111.36" cy="85.91" rx="15.07" ry="29.19"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="skeleton">
  <svg class="earrings" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 152.03 27.95">
    <ellipse class="cls-1" cx="9.49" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="9.61" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.96" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.18" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.28" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.63" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.2" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.09" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.87" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.08" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.86" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.75" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.41" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.83" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.94" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.16" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="9.6" cy="13.92" rx="5.03" ry="9.75"/>
    <ellipse class="cls-1" cx="142.49" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="142.61" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="145.96" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="148.18" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="149.28" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="149.63" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="149.2" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="148.09" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="145.87" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="139.08" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="136.86" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="135.75" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="135.41" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="135.83" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="136.94" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="139.16" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="142.6" cy="13.92" rx="5.03" ry="9.75"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="skeleton">
  <svg class="earrings" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 152.03 27.95">
    <ellipse class="cls-1" cx="9.49" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="9.61" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.96" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.18" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.28" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.63" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.2" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.09" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.87" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.08" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.86" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.75" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.41" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.83" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.94" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.16" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="9.6" cy="13.92" rx="5.03" ry="9.75"/>
    <ellipse class="cls-1" cx="142.49" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="142.61" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="145.96" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="148.18" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="149.28" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="149.63" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="149.2" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="148.09" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="145.87" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="139.08" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="136.86" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="135.75" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="135.41" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="135.83" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="136.94" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="139.16" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="142.6" cy="13.92" rx="5.03" ry="9.75"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="zombie">
  <svg class="earrings earrings--zombie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.72 48.05">
    <ellipse class="cls-1" cx="16.32" cy="4.06" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="16.51" cy="43.98" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="22.28" cy="41.4" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="26.09" cy="36.39" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="28" cy="30.52" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="28.58" cy="24.07" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="27.85" cy="17.91" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="25.94" cy="11.89" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="22.13" cy="6.59" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="10.44" cy="41.5" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="6.63" cy="36.49" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="4.73" cy="30.61" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="4.14" cy="24.17" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="4.87" cy="18.01" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="6.78" cy="11.99" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="10.59" cy="6.69" rx="3.23" ry="3.15"/>
    <ellipse class="cls-2" cx="16.51" cy="23.93" rx="8.65" ry="16.76"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="mummy">
  <svg class="earrings earrings--zombie" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.05 48.05">
    <ellipse class="cls-1" cx="16.32" cy="4.06" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="16.51" cy="43.98" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="22.28" cy="41.4" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="26.09" cy="36.39" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="28" cy="30.52" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="28.58" cy="24.07" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="27.85" cy="17.91" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="25.94" cy="11.89" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="22.13" cy="6.59" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="10.44" cy="41.5" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="6.63" cy="36.49" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="4.73" cy="30.61" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="4.14" cy="24.17" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="4.87" cy="18.01" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="6.78" cy="11.99" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="10.59" cy="6.69" rx="3.23" ry="3.15"/>
    <ellipse class="cls-2" cx="16.51" cy="23.93" rx="8.65" ry="16.76"/>
    <ellipse class="cls-1" cx="167.65" cy="4.06" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="167.85" cy="43.98" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="173.61" cy="41.4" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="177.42" cy="36.39" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="179.33" cy="30.52" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="179.92" cy="24.07" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="179.18" cy="17.91" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="177.28" cy="11.89" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="173.46" cy="6.59" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="161.78" cy="41.5" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="157.97" cy="36.49" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="156.06" cy="30.61" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="155.47" cy="24.17" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="156.21" cy="18.01" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="158.11" cy="11.99" rx="3.23" ry="3.15"/>
    <ellipse class="cls-1" cx="161.92" cy="6.69" rx="3.23" ry="3.15"/>
    <ellipse class="cls-2" cx="167.85" cy="23.93" rx="8.65" ry="16.76"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="yaga">
  <svg class="earrings earrings--yaga" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.88 20.66">
    <ellipse class="cls-1" cx="64.32" cy="1.83" rx="1.45" ry="1.42" transform="translate(2.65 20.19) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="70" cy="18.83" rx="1.45" ry="1.42" transform="translate(-2.38 22.82) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="72.1" cy="16.92" rx="1.45" ry="1.42" transform="translate(-1.68 23.38) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="73.02" cy="14.25" rx="1.45" ry="1.42" transform="translate(-0.8 23.53) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="73.01" cy="11.48" rx="1.45" ry="1.42" transform="translate(0.07 23.39) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="72.36" cy="8.64" rx="1.45" ry="1.42" transform="translate(0.92 23.04) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="71.18" cy="6.12" rx="1.45" ry="1.42" transform="translate(1.65 22.55) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="69.52" cy="3.82" rx="1.45" ry="1.42" transform="translate(2.29 21.92) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="67.15" cy="2.09" rx="1.45" ry="1.42" transform="translate(2.71 21.09) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="67.07" cy="18.63" rx="1.45" ry="1.42" transform="translate(-2.46 21.89) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="64.74" cy="17.02" rx="1.45" ry="1.42" transform="translate(-2.08 21.08) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="63.1" cy="14.78" rx="1.45" ry="1.42" transform="translate(-1.46 20.46) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="61.94" cy="12.12" rx="1.45" ry="1.42" transform="translate(-0.68 19.96) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="61.39" cy="9.38" rx="1.45" ry="1.42" transform="translate(0.14 19.65) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="61.36" cy="6.55" rx="1.45" ry="1.42" transform="translate(1.03 19.5) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="62.24" cy="3.75" rx="1.45" ry="1.42" transform="matrix(0.95, -0.31, 0.31, 0.95, 1.94, 19.64)"/>
    <ellipse class="cls-2" cx="67.19" cy="10.28" rx="3.89" ry="7.53" transform="translate(0.15 21.51) rotate(-18.21)"/>
    <ellipse class="cls-1" cx="4.81" cy="18.83" rx="1.42" ry="1.45" transform="translate(-14.58 17.52) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="10.5" cy="1.83" rx="1.42" ry="1.45" transform="translate(5.48 11.23) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="12.6" cy="3.74" rx="1.42" ry="1.45" transform="translate(5.11 14.54) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="13.52" cy="6.41" rx="1.42" ry="1.45" transform="translate(3.2 17.25) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="13.51" cy="9.19" rx="1.42" ry="1.45" transform="translate(0.56 19.15) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="12.85" cy="12.02" rx="1.42" ry="1.45" transform="translate(-2.58 20.47) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="11.68" cy="14.54" rx="1.42" ry="1.45" transform="translate(-5.79 21.09) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="10.02" cy="16.84" rx="1.42" ry="1.45" transform="matrix(0.31, -0.95, 0.95, 0.31, -9.11, 21.1)"/>
    <ellipse class="cls-1" cx="7.65" cy="18.57" rx="1.42" ry="1.45" transform="translate(-12.38 20.03) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="7.56" cy="2.04" rx="1.42" ry="1.45" transform="translate(3.26 8.58) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="5.23" cy="3.64" rx="1.42" ry="1.45" transform="translate(0.14 7.47) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="3.59" cy="5.88" rx="1.42" ry="1.45" transform="translate(-3.11 7.46) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="2.44" cy="8.55" rx="1.42" ry="1.45" transform="translate(-6.44 8.19) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="1.89" cy="11.28" rx="1.42" ry="1.45" transform="translate(-9.42 9.55) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="1.86" cy="14.11" rx="1.42" ry="1.45" transform="translate(-12.13 11.47) rotate(-71.79)"/>
    <ellipse class="cls-1" cx="2.74" cy="16.91" rx="1.42" ry="1.45" transform="matrix(0.31, -0.95, 0.95, 0.31, -14.18, 14.23)"/>
    <ellipse class="cls-2" cx="7.69" cy="10.39" rx="7.53" ry="3.89" transform="translate(-4.58 14.44) rotate(-71.79)"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="doctor">
  <svg class="earrings earrings--yaga" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123.14 38.61">
    <ellipse class="cls-1" cx="13.11" cy="3.27" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="13.27" cy="35.34" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="17.9" cy="33.27" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="20.96" cy="29.24" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="22.49" cy="24.52" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="22.97" cy="19.34" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="22.38" cy="14.39" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="20.84" cy="9.56" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="17.78" cy="5.3" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="8.39" cy="33.35" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="5.33" cy="29.32" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="3.8" cy="24.6" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="3.33" cy="19.42" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="3.91" cy="14.47" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="5.45" cy="9.63" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="8.51" cy="5.38" rx="2.59" ry="2.53"/>
    <ellipse class="cls-2" cx="13.27" cy="19.23" rx="6.95" ry="13.47"/>
    <ellipse class="cls-1" cx="109.96" cy="3.27" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="110.12" cy="35.34" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="114.75" cy="33.27" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="117.81" cy="29.24" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="119.35" cy="24.52" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="119.82" cy="19.34" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="119.23" cy="14.39" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="117.7" cy="9.56" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="114.63" cy="5.3" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="105.24" cy="33.35" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="102.18" cy="29.32" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="100.65" cy="24.6" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="100.18" cy="19.42" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="100.77" cy="14.47" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="102.3" cy="9.63" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="105.36" cy="5.38" rx="2.59" ry="2.53"/>
    <ellipse class="cls-2" cx="110.12" cy="19.23" rx="6.95" ry="13.47"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="spider">
  <svg class="earrings earrings--spider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140.37 101.52">
    <ellipse class="cls-1" cx="9.49" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="9.61" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.96" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.18" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.28" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.63" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.2" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.09" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.87" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.08" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.86" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.75" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.41" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.83" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.94" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.16" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="9.6" cy="13.92" rx="5.03" ry="9.75"/>
    <ellipse class="cls-1" cx="130.82" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="130.94" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="134.29" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="136.51" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="137.62" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="137.96" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="137.53" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="136.42" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="134.21" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="127.41" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="125.19" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="124.08" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="123.74" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="124.17" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="125.28" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="127.49" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="130.94" cy="13.92" rx="5.03" ry="9.75"/>
    <ellipse class="cls-1" cx="9.49" cy="75.93" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="9.61" cy="99.15" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.96" cy="97.65" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.18" cy="94.74" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.28" cy="91.32" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.63" cy="87.57" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.2" cy="83.99" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.09" cy="80.49" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.87" cy="77.4" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.08" cy="97.71" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.86" cy="94.79" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.75" cy="91.37" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.41" cy="87.63" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.83" cy="84.04" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.94" cy="80.54" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.16" cy="77.46" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="9.6" cy="87.49" rx="5.03" ry="9.75"/>
    <ellipse class="cls-1" cx="130.82" cy="75.93" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="130.94" cy="99.15" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="134.29" cy="97.65" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="136.51" cy="94.74" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="137.62" cy="91.32" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="137.96" cy="87.57" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="137.53" cy="83.99" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="136.42" cy="80.49" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="134.21" cy="77.4" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="127.41" cy="97.71" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="125.19" cy="94.79" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="124.08" cy="91.37" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="123.74" cy="87.63" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="124.17" cy="84.04" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="125.28" cy="80.54" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="127.49" cy="77.46" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="130.94" cy="87.49" rx="5.03" ry="9.75"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="alien">
  <svg class="earrings earrings--alien" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.01 27.95">
    <ellipse class="cls-1" cx="9.49" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="9.61" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.96" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.18" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.28" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.63" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.2" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.09" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.87" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.08" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.86" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.75" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.41" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.83" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.94" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.16" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="9.6" cy="13.92" rx="5.03" ry="9.75"/>
    <ellipse class="cls-1" cx="171.47" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="171.58" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="174.93" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="177.15" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="178.26" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="178.6" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="178.17" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="177.07" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="174.85" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="168.05" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="165.83" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="164.72" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="164.38" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="164.81" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="165.92" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="168.14" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="171.58" cy="13.92" rx="5.03" ry="9.75"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="vampire">
  <svg class="earrings earrings--spider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86.03 27.95">
    <ellipse class="cls-1" cx="9.49" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="9.61" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.96" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.18" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.28" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.63" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="16.2" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="15.09" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="12.87" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.08" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.86" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.75" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.41" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="2.83" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="3.94" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="6.16" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="9.6" cy="13.92" rx="5.03" ry="9.75"/>
    <ellipse class="cls-1" cx="76.49" cy="2.36" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="76.61" cy="25.58" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="79.96" cy="24.08" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="82.18" cy="21.17" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="83.28" cy="17.75" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="83.63" cy="14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="83.2" cy="10.42" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="82.09" cy="6.92" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="79.87" cy="3.84" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="73.08" cy="24.14" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="70.86" cy="21.22" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="69.75" cy="17.81" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="69.41" cy="14.06" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="69.83" cy="10.47" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="70.94" cy="6.97" rx="1.88" ry="1.83"/>
    <ellipse class="cls-1" cx="73.16" cy="3.89" rx="1.88" ry="1.83"/>
    <ellipse class="cls-2" cx="76.6" cy="13.92" rx="5.03" ry="9.75"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="yeti">
  <svg class="earrings earrings--doctor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181.29 38.61">
    <ellipse class="cls-1" cx="13.11" cy="3.27" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="13.27" cy="35.34" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="17.9" cy="33.27" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="20.96" cy="29.24" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="22.49" cy="24.52" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="22.97" cy="19.34" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="22.38" cy="14.39" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="20.84" cy="9.56" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="17.78" cy="5.3" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="8.39" cy="33.35" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="5.33" cy="29.32" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="3.8" cy="24.6" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="3.33" cy="19.42" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="3.91" cy="14.47" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="5.45" cy="9.63" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="8.51" cy="5.38" rx="2.59" ry="2.53"/>
    <ellipse class="cls-2" cx="13.27" cy="19.23" rx="6.95" ry="13.47"/>
    <ellipse class="cls-1" cx="168.11" cy="3.27" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="168.27" cy="35.34" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="172.9" cy="33.27" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="175.96" cy="29.24" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="177.49" cy="24.52" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="177.97" cy="19.34" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="177.38" cy="14.39" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="175.84" cy="9.56" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="172.78" cy="5.3" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="163.39" cy="33.35" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="160.33" cy="29.32" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="158.8" cy="24.6" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="158.33" cy="19.42" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="158.91" cy="14.47" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="160.45" cy="9.63" rx="2.59" ry="2.53"/>
    <ellipse class="cls-1" cx="163.51" cy="5.38" rx="2.59" ry="2.53"/>
    <ellipse class="cls-2" cx="168.27" cy="19.23" rx="6.95" ry="13.47"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="ghost">
  <svg class="earrings earrings--ghost" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 215.42 45.78">
    <ellipse class="cls-1" cx="15.55" cy="3.87" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="15.73" cy="41.91" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="21.23" cy="39.45" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="24.86" cy="34.67" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="26.68" cy="29.08" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="27.23" cy="22.94" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="26.54" cy="17.07" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="24.72" cy="11.33" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="21.09" cy="6.28" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="9.95" cy="39.54" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="6.32" cy="34.77" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="4.5" cy="29.17" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="3.94" cy="23.03" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="4.64" cy="17.16" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="6.46" cy="11.42" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="10.09" cy="6.37" rx="3.07" ry="3"/>
    <ellipse class="cls-2" cx="15.73" cy="22.8" rx="8.25" ry="15.97"/>
    <ellipse class="cls-1" cx="199.79" cy="3.87" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="199.98" cy="41.91" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="205.47" cy="39.45" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="209.11" cy="34.67" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="210.92" cy="29.08" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="211.48" cy="22.94" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="210.78" cy="17.07" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="208.97" cy="11.33" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="205.33" cy="6.28" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="194.2" cy="39.54" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="190.57" cy="34.77" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="188.75" cy="29.17" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="188.19" cy="23.03" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="188.89" cy="17.16" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="190.71" cy="11.42" rx="3.07" ry="3"/>
    <ellipse class="cls-1" cx="194.34" cy="6.37" rx="3.07" ry="3"/>
    <ellipse class="cls-2" cx="199.98" cy="22.8" rx="8.25" ry="15.97"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="wolf">
  <svg class="earrings--wolf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105.47 41.59">
    <path class="cls-1" d="M26,10.22c1.42-3.44,1-6.86-.84-7.64S20.62,4,19.2,7.4l-4,9.72"/>
    <ellipse class="cls-2" cx="15.26" cy="17" rx="1.89" ry="1.93" transform="translate(-6.27 24.61) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="6.23" cy="39.15" rx="1.89" ry="1.93" transform="translate(-32.33 29.95) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="10.01" cy="39.04" rx="1.89" ry="1.93" transform="matrix(0.38, -0.92, 0.92, 0.38, -29.89, 33.38)"/>
    <ellipse class="cls-2" cx="13.27" cy="37.14" rx="1.89" ry="1.93" transform="translate(-26.12 35.22) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="15.67" cy="34.32" rx="1.89" ry="1.93" transform="translate(-22.03 35.69) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="17.48" cy="30.89" rx="1.89" ry="1.93" transform="translate(-17.74 35.24) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="18.48" cy="27.31" rx="1.89" ry="1.93" transform="translate(-13.82 33.95) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="18.8" cy="23.54" rx="1.89" ry="1.93" transform="translate(-10.13 31.92) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="17.9" cy="19.73" rx="1.89" ry="1.93" transform="translate(-7.17 28.74) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="3.44" cy="36.39" rx="1.89" ry="1.93" transform="translate(-31.5 25.66) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="2.47" cy="32.74" rx="1.89" ry="1.93" transform="translate(-28.72 22.52) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="2.76" cy="29.05" rx="1.89" ry="1.93" transform="translate(-25.14 20.5) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="3.91" cy="25.34" rx="1.89" ry="1.93" transform="translate(-21 19.28) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="5.73" cy="22.1" rx="1.89" ry="1.93" transform="translate(-16.88 18.95) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="8.16" cy="19.2" rx="1.89" ry="1.93" transform="translate(-12.7 19.41) rotate(-67.54)"/>
    <ellipse class="cls-2" cx="11.49" cy="17.14" rx="1.89" ry="1.93" transform="translate(-8.74 21.21) rotate(-67.54)"/>
    <ellipse class="cls-3" cx="10.82" cy="28.04" rx="10.05" ry="5.19" transform="translate(-19.23 27.33) rotate(-67.54)"/>
    <path class="cls-1" d="M79.45,8.34c-1.42-3.44-1-6.86.84-7.64s4.56,1.38,6,4.82l4,9.72"/>
    <ellipse class="cls-2" cx="90.21" cy="15.12" rx="1.93" ry="1.89" transform="translate(1.07 35.61) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="99.24" cy="37.28" rx="1.93" ry="1.89" transform="translate(-6.71 40.74) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="95.46" cy="37.17" rx="1.93" ry="1.89" transform="translate(-6.96 39.29) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="92.2" cy="35.27" rx="1.93" ry="1.89" transform="translate(-6.48 37.9) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="89.8" cy="32.45" rx="1.93" ry="1.89" transform="translate(-5.59 36.77) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="88" cy="29.01" rx="1.93" ry="1.89" transform="translate(-4.41 35.82) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="86.99" cy="25.43" rx="1.93" ry="1.89" transform="translate(-3.12 35.16) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="86.67" cy="21.66" rx="1.93" ry="1.89" transform="translate(-1.7 34.76) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="87.57" cy="17.86" rx="1.93" ry="1.89" transform="translate(-0.18 34.81) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="102.04" cy="34.51" rx="1.93" ry="1.89" transform="translate(-5.45 41.6) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="103" cy="30.86" rx="1.93" ry="1.89" transform="translate(-3.98 41.69) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="102.71" cy="27.17" rx="1.93" ry="1.89" transform="translate(-2.59 41.3) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="101.56" cy="23.47" rx="1.93" ry="1.89" transform="translate(-1.26 40.58) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="99.74" cy="20.23" rx="1.93" ry="1.89" transform="translate(-0.16 39.64) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="97.31" cy="17.33" rx="1.93" ry="1.89" transform="translate(0.76 38.49) rotate(-22.46)"/>
    <ellipse class="cls-2" cx="93.98" cy="15.27" rx="1.93" ry="1.89" transform="translate(1.3 37.06) rotate(-22.46)"/>
    <ellipse class="cls-3" cx="94.65" cy="26.17" rx="5.19" ry="10.05" transform="translate(-2.82 38.15) rotate(-22.46)"/>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="bed">
  <svg class="earrings earrings--bed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.58 24.1">
    <ellipse class="cls-1" cx="8.19" cy="2.04" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="8.28" cy="22.06" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="11.17" cy="20.77" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="13.09" cy="18.25" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="14.04" cy="15.31" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="14.34" cy="12.07" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="13.97" cy="8.98" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="13.01" cy="5.97" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="11.1" cy="3.31" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="5.24" cy="20.82" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="3.33" cy="18.3" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="2.37" cy="15.36" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="2.08" cy="12.12" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="2.44" cy="9.03" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="3.4" cy="6.01" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="5.31" cy="3.36" rx="1.62" ry="1.58"/>
    <ellipse class="cls-2" cx="8.28" cy="12" rx="4.34" ry="8.41"/>
    <ellipse class="cls-1" cx="72.35" cy="2.04" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="72.45" cy="22.06" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="75.34" cy="20.77" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="77.26" cy="18.25" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="78.21" cy="15.31" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="78.51" cy="12.07" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="78.14" cy="8.98" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="77.18" cy="5.97" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="75.27" cy="3.31" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="69.41" cy="20.82" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="67.49" cy="18.3" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="66.54" cy="15.36" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="66.24" cy="12.12" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="66.61" cy="9.03" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="67.57" cy="6.01" rx="1.62" ry="1.58"/>
    <ellipse class="cls-1" cx="69.48" cy="3.36" rx="1.62" ry="1.58"/>
    <ellipse class="cls-2" cx="72.45" cy="12" rx="4.34" ry="8.41"/>
  </svg>
</ng-template>
