page-home {
  .container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    background-color: hsl(0, 0, 0);
  }

  .scroll-content {
    overflow: hidden;
  }

  .imgs-group {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    height: calc(100% - 44px);
  }

  .btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 44px;
  }

  .door { // ratio: 2.14
    position: relative;
    width: 100%;
    height: 70%;
    flex-grow: 1;
    max-width: 340px; //108.3
    max-height: 623px; //198.2
    background: transparent url('../assets/imgs/home-page_scary-door.svg') no-repeat center;
    margin-bottom: 20px;
  }

  .btn-play {
    position: absolute;
    width: 78.3px; //36.6
    height: 93.9px; //43.9
    left: 50%;
    top: 34%;
    transform: translateX(-50%);
  }

  .logotypes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
  }

  .logo {
    max-width: 82%; //136.4
    max-height: 100%; //9.3
    max-width: 600px;
    width: auto;
    height: auto;
    margin-bottom: 50px;
    min-height: 30px;
  }

  .company-logo {
    width: 300px;
    height: auto;
    align-self: flex-start;
  }
}
