<svg class="spider svg-container" viewBox="-35 80 335 243" width="90%" height="90%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <g class="">
      <line class="web decor__web" x1="131.28" y1="-370.69" x2="131.28" y2="73.95"></line>
      <g class="body">
         <g class="legs">
            <g class="legs-pair legs-pair--top">
               <polyline class="leg leg--left" points="16.65 99.33 51.1 64.87 85.55 99.33"></polyline>
               <polyline class="leg leg--left" points="16.65 119.89 51.1 85.44 85.55 119.89"></polyline>
               <polyline class="leg leg--left" points="16.65 140.45 51.1 106 85.55 140.45"></polyline>
               <polyline class="leg leg--right" points="179.35 99.33 213.81 64.87 248.26 99.33"></polyline>
               <polyline class="leg leg--right" points="179.35 119.89 213.81 85.44 248.26 119.89"></polyline>
               <polyline class="leg leg--right" points="179.35 140.45 213.81 106 248.26 140.45"></polyline>
            </g>
            <g class="legs-pair legs-pair--bottom">
               <polyline class="leg leg--left" points="-28.89 218.03 19.11 170.03 67.11 218.03"></polyline>
               <polyline class="leg leg--left" points="-28.89 246.68 19.11 198.68 67.11 246.68"></polyline>
               <polyline class="leg leg--left" points="-28.89 275.32 19.11 227.32 67.11 275.32"></polyline>
               <polyline class="leg leg--right" points="197.79 218.03 245.79 170.03 293.79 218.03"></polyline>
               <polyline class="leg leg--right" points="197.79 246.68 245.79 198.68 293.79 246.68"></polyline>
               <polyline class="leg leg--right" points="197.79 275.32 245.79 227.32 293.79 275.32"></polyline>
            </g>
         </g>
         <g class="body-figure">
            <ellipse class="body-part body-part--colored" cx="132.45" cy="259.43" rx="74.06" ry="47.7"></ellipse>
            <ellipse class="body-part" cx="132.45" cy="209.44" rx="74.06" ry="47.7"></ellipse>
            <ellipse class="body-part body-part--colored" cx="132.45" cy="163.61" rx="74.06" ry="47.7"></ellipse>
            <ellipse class="body-part" cx="132.45" cy="115.29" rx="74.06" ry="47.7"></ellipse>
            <g class="decor">
               <g class="mouth decor__mouth">
                  <polygon class="tooth" points="112.44 244.6 109.19 224.94 115.68 224.94 112.44 244.6"></polygon>
                  <polygon class="tooth" points="126.44 244.6 123.2 224.94 129.69 224.94 126.44 244.6"></polygon>
                  <polygon class="tooth" points="139.93 244.6 136.69 224.94 143.18 224.94 139.93 244.6"></polygon>
                  <polygon class="tooth" points="153.94 244.6 150.69 224.94 157.18 224.94 153.94 244.6"></polygon>
               </g>
               <polygon class="sting decor__sting" points="130.6 327.09 127.36 307.43 133.85 307.43 130.6 327.09"></polygon>
            </g>
         </g>
      </g>
      <g monster-part part-name="head-figure" part-type="group" class="head">
         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <g monster-part part-name="eye" part-name-mod="left" part-type="group" class="eye eye--left">
               <circle class="eyeball" cx="110.35" cy="104.04" r="17.91"></circle>
               <circle class="pupil" cx="110.35" cy="104.04" r="9.83"></circle>
            </g>
            <g monster-part part-name="eye" part-name-mod="right" part-type="group" class="eye eye--right">
               <circle class="eyeball" cx="154.55" cy="104.04" r="17.91"></circle>
               <circle class="pupil" cx="154.55" cy="104.04" r="9.83"></circle>
            </g>
         </g>
         <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-name="mouth" part-type="group"  class="mouth">
            <polygon class="tooth" points="124.93 145.45 121.69 125.79 128.18 125.79 124.93 145.45"></polygon>
            <polygon class="tooth" points="138.93 145.45 135.69 125.79 142.18 125.79 138.93 145.45"></polygon>
         </g>
      </g>
      <g monster-part part-group="head-figure" part-type="container"></g>
      <g monster-part part-group="mouth" part-type="container"></g>
      <g monster-part part-name="nose" part-type="group">
        <rect fill="rgba(0,0,0,0)" x="140" y="134" width="1" height="1"></rect>
      </g>
      <g monster-part part-group="nose" part-type="container"></g>
   </g>
</svg>
