<svg class="spider svg-container" viewBox="-35 80 342 243" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <svg monster-part part-name="confetti" part-type="group" part-hidden="true" visibility="hidden" width="291.8" height="309.24" y="20" x="-20" viewBox="0 0 241.16 255.57" xmlns="http://www.w3.org/2000/svg">
    <circle class="confetti--color--pink" cx="4.54" cy="6.49" r="4.53" transform="translate(-2.39 2.65) rotate(-26.03)"/>
    <circle class="confetti--color--pink" cx="12.11" cy="248.54" r="4.53" transform="translate(-107.84 30.52) rotate(-26.03)"/>
    <circle class="confetti--color--pink" cx="85.61" cy="251.04" r="4.53" transform="translate(-101.48 63.03) rotate(-26.03)"/>
    <circle class="confetti--color--pink" cx="215.61" cy="205.04" r="4.53" transform="translate(-68.11 115.42) rotate(-26.03)"/>
    <circle class="confetti--color--red" cx="42.11" cy="115.04" r="4.53" transform="translate(-46.21 30.15) rotate(-26.03)"/>
    <circle class="confetti--color--red" cx="96.61" cy="4.54" r="4.53" transform="translate(7.81 42.86) rotate(-26.03)"/>
    <circle class="confetti--color--red" cx="134.61" cy="19.54" r="4.53" transform="translate(5.08 61.05) rotate(-26.03)"/>
    <circle class="confetti--color--red" cx="195.61" cy="107.54" r="4.53" transform="translate(-27.35 96.75) rotate(-26.03)"/>
    <circle class="confetti--color--red" cx="164.61" cy="251.04" r="4.53" transform="translate(-93.47 97.7) rotate(-26.03)"/>
    <circle class="confetti--color--blue" cx="45.61" cy="19.54" r="6.56" transform="translate(-3.95 22) rotate(-26.03)"/>
    <circle class="confetti--color--blue" cx="8.61" cy="99.54" r="6.56" transform="translate(-42.81 13.87) rotate(-26.03)"/>
    <circle class="confetti--color--blue" cx="17.11" cy="209.04" r="6.56" transform="translate(-90 28.71) rotate(-26.03)"/>
    <circle class="confetti--color--blue" cx="230.61" cy="42.54" r="6.56" transform="translate(4.73 105.52) rotate(-26.03)"/>
    <circle class="confetti--color--blue" cx="231.61" cy="248.54" r="6.56" transform="translate(-85.58 126.85) rotate(-26.03)"/>
    <circle class="confetti--color--dark-blue" cx="6.61" cy="46.54" r="6.56" transform="translate(-19.75 7.62) rotate(-26.03)"/>
    <circle class="confetti--color--dark-blue" cx="53.61" cy="239.04" r="6.56" transform="translate(-99.46 47.77) rotate(-26.03)"/>
    <circle class="confetti--color--dark-blue" cx="227.61" cy="12.04" r="6.56" transform="translate(17.81 101.11) rotate(-26.03)"/>
    <circle class="confetti--color--dark-blue" cx="234.61" cy="101.04" r="6.56" transform="translate(-20.54 113.21) rotate(-26.03)"/>
    <circle class="confetti--color--dark-blue" cx="206.11" cy="235.54" r="6.56" transform="translate(-82.46 114.34) rotate(-26.03)"/>
  </svg>

   <g monster-part part-name="outer" part-type="group" class="">
     <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

      <line class="web decor__web" x1="131.28" y1="-370.69" x2="131.28" y2="73.95"></line>
      <g class="body">
         <g class="legs">
            <g class="legs-pair legs-pair--top">
               <polyline class="leg leg--left" points="16.65 99.33 51.1 64.87 85.55 99.33"></polyline>
               <polyline class="leg leg--left" points="16.65 119.89 51.1 85.44 85.55 119.89"></polyline>
               <polyline class="leg leg--left" points="16.65 140.45 51.1 106 85.55 140.45"></polyline>
               <polyline class="leg leg--right" points="179.35 99.33 213.81 64.87 248.26 99.33"></polyline>
               <polyline class="leg leg--right" points="179.35 119.89 213.81 85.44 248.26 119.89"></polyline>
               <polyline class="leg leg--right" points="179.35 140.45 213.81 106 248.26 140.45"></polyline>
            </g>
            <g class="legs-pair legs-pair--bottom">
               <polyline class="leg leg--left" points="-28.89 218.03 19.11 170.03 67.11 218.03"></polyline>
               <polyline class="leg leg--left" points="-28.89 246.68 19.11 198.68 67.11 246.68"></polyline>
               <polyline class="leg leg--left" points="-28.89 275.32 19.11 227.32 67.11 275.32"></polyline>
               <polyline class="leg leg--right" points="197.79 218.03 245.79 170.03 293.79 218.03"></polyline>
               <polyline class="leg leg--right" points="197.79 246.68 245.79 198.68 293.79 246.68"></polyline>
               <polyline class="leg leg--right" points="197.79 275.32 245.79 227.32 293.79 275.32"></polyline>
            </g>
         </g>

         <g monster-part part-name="body" part-type="group" part-outline="true" class="body-figure">
            <ellipse class="body-part body-part--colored" cx="132.45" cy="259.43" rx="74.06" ry="47.7"></ellipse>
            <ellipse class="body-part" cx="132.45" cy="209.44" rx="74.06" ry="47.7"></ellipse>
            <ellipse class="body-part body-part--colored" cx="132.45" cy="163.61" rx="74.06" ry="47.7"></ellipse>
            <ellipse class="body-part" cx="132.45" cy="115.29" rx="74.06" ry="47.7"></ellipse>
            <g class="decor">
               <g monster-part part-name="mouth-decor" part-type="element" class="mouth decor__mouth">
                  <polygon class="tooth" points="112.44 244.6 109.19 224.94 115.68 224.94 112.44 244.6"></polygon>
                  <polygon class="tooth" points="126.44 244.6 123.2 224.94 129.69 224.94 126.44 244.6"></polygon>
                  <polygon class="tooth" points="139.93 244.6 136.69 224.94 143.18 224.94 139.93 244.6"></polygon>
                  <polygon class="tooth" points="153.94 244.6 150.69 224.94 157.18 224.94 153.94 244.6"></polygon>
               </g>
               <polygon class="sting decor__sting" points="130.6 327.09 127.36 307.43 133.85 307.43 130.6 327.09"></polygon>
            </g>
         </g>
         <g monster-part part-group="body" part-type="container"></g>
      </g>
      <g monster-part part-name="head-figure" part-type="group" class="head">
        <svg width="119.23" height="28.95" x="73" y="42" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 106.07 26.22">
          <g monster-part part-name="eyelashes" part-type="group" part-hidden="true" visibility="hidden" class="eyelashes">
            <line class="eyelash" x1="0.69" y1="10.53" x2="12.24" y2="25.7"/>
            <line class="eyelash" x1="1.96" y1="5.53" x2="13.51" y2="20.7"/>
            <line class="eyelash" x1="3.23" y1="0.53" x2="14.78" y2="15.7"/>
            <line class="eyelash" x1="91.29" y1="15.7" x2="102.84" y2="0.53"/>
            <line class="eyelash" x1="92.56" y1="20.7" x2="104.1" y2="5.53"/>
            <line class="eyelash" x1="93.83" y1="25.7" x2="105.37" y2="10.53"/>
          </g>
        </svg>

         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <g monster-part part-name="eye" part-name-mod="left" part-type="group" class="eye eye--left">
               <circle class="eyeball" cx="110.35" cy="104.04" r="17.91"></circle>
               <circle class="pupil" cx="110.35" cy="104.04" r="9.83"></circle>
            </g>
            <g monster-part part-name="eye" part-name-mod="right" part-type="group" class="eye eye--right">
               <circle class="eyeball" cx="154.55" cy="104.04" r="17.91"></circle>
               <circle class="pupil" cx="154.55" cy="104.04" r="9.83"></circle>
            </g>
         </g>
         <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-name="mouth" part-type="group"  class="mouth">
            <polygon class="tooth" points="124.93 145.45 121.69 125.79 128.18 125.79 124.93 145.45"></polygon>
            <polygon class="tooth" points="138.93 145.45 135.69 125.79 142.18 125.79 138.93 145.45"></polygon>
         </g>
      </g>

      <g  monster-part part-name="ears" part-type="group" part-hidden="true" visibility="hidden" class="ears">
        <ellipse cx="60" cy="125" rx="11" ry="13.33"/>
        <ellipse cx="205" cy="125" rx="11" ry="13.33"/>
        <ellipse cx="60" cy="210" rx="11" ry="13.33"/>
        <ellipse cx="205" cy="210" rx="11" ry="13.33"/>
      </g>
      <g monster-part part-group="ears" part-type="container"></g>


      <g monster-part part-group="head-figure" part-type="container"></g>
      <g monster-part part-group="mouth" part-type="container"></g>
      <g monster-part part-name="nose" part-type="group">
        <rect fill="rgba(0,0,0,0)" x="140" y="134" width="1" height="1"></rect>
      </g>
      <g monster-part part-group="nose" part-type="container"></g>

      <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
   </g>
</svg>
