<svg width="100%" height="100%" class="yaga svg-container" preserveAspectRatio="xMidYMax meet" viewBox="-20 -20 273.58 344.24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <svg monster-part part-name="confetti" part-type="group" part-hidden="true" visibility="hidden" width="279.18" height="299.87" y="10" x="-45" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241.51 259.41">
    <circle class="confetti--color--yellow" cx="103.62" cy="13.73" r="3.26" transform="matrix(0.79, -0.61, 0.61, 0.79, 13.46, 66.61)"/>
    <circle class="confetti--color--yellow" cx="69.86" cy="46.75" r="3.26" transform="translate(-13.98 52.83) rotate(-37.94)"/>
    <circle class="confetti--color--blue" cx="89.12" cy="4.71" r="4.71" transform="translate(15.94 55.79) rotate(-37.94)"/>
    <circle class="confetti--color--pink" cx="39.42" cy="51.53" r="3.46" transform="translate(-23.35 35.13) rotate(-37.94)"/>
    <circle class="confetti--color--pink" cx="52.91" cy="93.84" r="3.46" transform="translate(-46.52 52.36) rotate(-37.94)"/>
    <circle class="confetti--color--yellow" cx="57.03" cy="129.84" r="3.46" transform="translate(-67.78 62.51) rotate(-37.94)"/>
    <circle class="confetti--color--yellow" cx="50.99" cy="34.53" r="3.46" transform="translate(-10.45 38.65) rotate(-37.94)"/>
    <circle class="confetti--color--yellow" cx="23.56" cy="17.79" r="3.46" transform="translate(-5.96 18.24) rotate(-37.94)"/>
    <circle class="confetti--color--blue" cx="9.91" cy="88.39" r="5.01" transform="translate(-52.25 24.77) rotate(-37.94)"/>
    <circle cx="40.35" cy="17.13" r="5.01" transform="translate(-2 28.43) rotate(-37.94)"/>
    <circle cx="14.57" cy="51.72" r="5.01" transform="translate(-28.72 19.89) rotate(-37.94)"/>
    <circle cx="49.65" cy="69.67" r="5.01" transform="translate(-32.34 45.25) rotate(-37.94)"/>
    <circle cx="47.79" cy="118.02" r="5.01" transform="translate(-62.46 54.33) rotate(-37.94)"/>
    <circle class="confetti--color--pink" cx="37.09" cy="197.68" r="3.46" transform="translate(-75.17 30.79) rotate(-23.3)"/>
    <circle class="confetti--color--pink" cx="16.6" cy="159.75" r="3.46" transform="translate(-61.84 19.59) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="10.42" cy="118.35" r="3.46" transform="translate(-45.96 13.77) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="3.46" cy="217.63" r="3.46" transform="translate(-85.8 19.12) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="25.77" cy="240.76" r="3.46" transform="translate(-93.13 29.83) rotate(-23.3)"/>
    <circle class="confetti--color--blue" cx="52.57" cy="167.72" r="5.01" transform="translate(-62.05 34.47) rotate(-23.3)"/>
    <circle cx="9.36" cy="237.15" r="5.01" transform="matrix(0.92, -0.4, 0.4, 0.92, -93.04, 23.04)"/>
    <circle cx="28.59" cy="220.55" r="5.01" transform="matrix(0.92, -0.4, 0.4, 0.92, -84.91, 29.3)"/>
    <circle cx="13.64" cy="183.97" r="5.01" transform="translate(-71.66 20.4) rotate(-23.3)"/>
    <circle cx="27.66" cy="137.65" r="5.01" transform="translate(-52.19 22.17) rotate(-23.3)"/>
    <circle class="confetti--color--pink" cx="191.28" cy="218.23" r="3.46" transform="translate(-70.72 93.46) rotate(-23.3)"/>
    <circle class="confetti--color--pink" cx="181.24" cy="167.05" r="3.46" transform="translate(-51.3 85.31) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="229.91" cy="125.05" r="3.46" transform="translate(-30.71 101.14) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="233.91" cy="206.39" r="3.46" transform="translate(-62.56 109.35) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="73.91" cy="170.39" r="3.46" transform="translate(-61.37 43.13) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="163.91" cy="198.39" r="3.46" transform="translate(-65.1 81.01) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="217.24" cy="251.67" r="3.46" transform="translate(-81.83 106.46) rotate(-23.3)"/>
    <circle class="confetti--color--blue" cx="215.4" cy="181.24" r="5.01" transform="translate(-54.12 99.98) rotate(-23.3)"/>
    <circle cx="200.83" cy="248.07" r="5.01" transform="translate(-81.75 99.67) rotate(-23.3)"/>
    <circle cx="220.06" cy="231.47" r="5.01" transform="translate(-73.61 105.92) rotate(-23.3)"/>
    <circle cx="205.11" cy="194.89" r="5.01" transform="matrix(0.92, -0.4, 0.4, 0.92, -60.36, 97.02)"/>
    <circle cx="219.13" cy="148.57" r="5.01" transform="translate(-40.9 98.79) rotate(-23.3)"/>
    <circle class="confetti--color--pink" cx="200.55" cy="88.51" r="3.46" transform="translate(-18.66 86.55) rotate(-23.3)"/>
    <circle class="confetti--color--pink" cx="162.73" cy="25.09" r="3.46" transform="translate(3.35 66.41) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="203.31" cy="8.3" r="3.46" transform="translate(13.3 81.1) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="185.07" cy="102.05" r="3.46" transform="translate(-25.27 81.53) rotate(-23.3)"/>
    <circle class="confetti--color--yellow" cx="207.38" cy="125.17" r="3.46" transform="translate(-32.6 92.24) rotate(-23.3)"/>
    <circle class="confetti--color--blue" cx="205.53" cy="54.74" r="5.01" transform="translate(-4.89 85.76) rotate(-23.3)"/>
    <circle class="confetti--color--blue" cx="189.17" cy="23.74" r="5.01" transform="translate(6.04 76.76) rotate(-23.3)"/>
    <circle class="confetti--color--blue" cx="236.51" cy="53.74" r="5.01" transform="translate(-1.97 97.93) rotate(-23.3)"/>
    <circle class="confetti--color--blue" cx="15.84" cy="254.4" r="5.01" transform="translate(-99.34 27.01) rotate(-23.3)"/>
    <circle cx="190.96" cy="121.57" r="5.01" transform="translate(-32.51 85.45) rotate(-23.3)"/>
    <circle cx="231.26" cy="93.12" r="5.01" transform="translate(-17.97 99.07) rotate(-23.3)"/>
    <circle cx="179.91" cy="73.72" r="5.01" transform="translate(-14.49 77.17) rotate(-23.3)"/>
    <circle cx="209.26" cy="22.07" r="5.01" transform="translate(8.34 84.57) rotate(-23.3)"/>
  </svg>

   <g monster-part part-name="outer" part-type="group" class="">
    <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

    <g monster-part part-name="body" part-type="group" part-outline="true" class="body">
         <path class="body-figure" d="M0,526.25V299.52a69.37,69.37,0,0,1,69.17-69.17h44.62V525.5Z"></path>
         <g class="ornament decor__ornament">
            <circle class="ornament-part" cx="31.56" cy="265.47" r="4.89"></circle>
            <circle class="ornament-part" cx="54.23" cy="252.58" r="4.89"></circle>
            <circle class="ornament-part" cx="17.78" cy="291.7" r="4.89"></circle>
            <circle class="ornament-part" cx="94.23" cy="313.03" r="4.89"></circle>
         </g>
    </g>
    <g monster-part part-group="body" part-type="container"></g>
    <g class="head">
        <g monster-part part-name="necklace" part-type="group">
          <g monster-part part-name="head-figure" part-type="group" class="head-figure">
             <g class="shawl shawl--decor__shawl">
                <path class="shawl-part" d="M96.38.07a196.7,196.7,0,0,1,0,278.33A196.7,196.7,0,0,1,96.38.07Z"></path>
                <path class="shawl-part" d="M26.33,330.41A73.62,73.62,0,0,1,100,256.75,73.62,73.62,0,0,1,26.33,330.41Z"></path>
                <path class="shawl-part" d="M92.76,256.75a73.62,73.62,0,0,1,73.66,73.66A73.62,73.62,0,0,1,92.76,256.75Z"></path>
                <circle class="shawl-part" cx="96.38" cy="269.15" r="26.63"></circle>
             </g>
             <rect class="face" x="72.11" y="38.2" width="48.53" height="202.49" rx="24.27" ry="24.27"></rect>
          </g>
        </g>
        <g monster-part part-group="necklace" part-type="container"></g>


         <g monster-part part-name="ears" part-type="group" part-hidden="true" visibility="hidden" part-outline="true" class="ears">
          <ellipse class="ear" cx="122" cy="126" rx="5.12" ry="13.47" transform="translate(-65.15 -2.51) rotate(-5.81)"/>
          <ellipse class="ear" cx="135" cy="133" rx="13.47" ry="5.12" transform="translate(-22.48 232.22) rotate(-84.19)"/>
         </g>
         <g monster-part part-group="ears" part-type="container"></g>

         <svg width="44.52" height="17.22" x="74" y="54" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.13 12.33">
           <g monster-part part-name="eyelashes" part-type="group" part-hidden="true" visibility="hidden" class="eyelashes">
             <line class="eyelash" x1="26.14" x2="26.14" y2="9"/>
             <line class="eyelash" x1="29.31" x2="29.31" y2="9"/>
             <line class="eyelash" x1="32.48" x2="32.48" y2="9"/>
             <line class="eyelash" x1="0.65" y1="3.33" x2="0.65" y2="12.33"/>
             <line class="eyelash" x1="3.82" y1="3.33" x2="3.82" y2="12.33"/>
             <line class="eyelash" x1="6.98" y1="3.33" x2="6.98" y2="12.33"/>
           </g>
         </svg>

         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--left">
               <circle class="eyeball" cx="79.94" cy="81" r="11.98"></circle>
               <circle class="pupil" cx="79.94" cy="81" r="6.14"></circle>
            </g>
            <g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--right">
               <circle class="eyeball" cx="112.78" cy="81" r="15.2"></circle>
               <circle class="pupil" cx="112.78" cy="81" r="7.79"></circle>
            </g>
         </g>
				 <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-name="mouth" part-type="group" class="mouth">
            <rect class="mouth-figure" x="81.54" y="185.9" width="39.1" height="8.83"></rect>
            <rect class="tooth" x="94.68" y="185.9" width="4.48" height="4.48"></rect>
            <rect class="tooth" x="102.67" y="185.9" width="4.48" height="4.48"></rect>
         </g>
         <g monster-part part-group="head-figure" part-type="container"></g>
         <g monster-part part-group="mouth" part-type="container"></g>
         <g monster-part part-group="nose" part-type="container"></g>
        <g monster-part part-name="nose" part-type="group">
          <path class="nose" d="M96.62,109a13.69,13.69,0,0,1,12.54,13.6V157H96.62Z"></path>
        </g>
    </g>

    <g monster-part part-group="necklace" part-type="container"></g>

    <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>

   </g>
</svg>
