<svg width="80%" height="80%" class="yaga svg-container" viewBox="0 0 233.58 324.24" width="auto" height="95%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <g class="">
      <g monster-part part-name="body" part-type="group" part-outline="true" class="body">
         <path class="body-figure" d="M0,526.25V299.52a69.37,69.37,0,0,1,69.17-69.17h44.62V525.5Z"></path>
         <g class="ornament decor__ornament">
            <circle class="ornament-part" cx="31.56" cy="265.47" r="4.89"></circle>
            <circle class="ornament-part" cx="54.23" cy="252.58" r="4.89"></circle>
            <circle class="ornament-part" cx="17.78" cy="291.7" r="4.89"></circle>
            <circle class="ornament-part" cx="94.23" cy="313.03" r="4.89"></circle>
         </g>
      </g>
      <g monster-part part-group="body" part-type="container"></g>
      <g class="head">
         <g monster-part part-name="head-figure" part-type="group" class="head-figure">
            <g class="shawl shawl--decor__shawl">
               <path class="shawl-part" d="M96.38.07a196.7,196.7,0,0,1,0,278.33A196.7,196.7,0,0,1,96.38.07Z"></path>
               <path class="shawl-part" d="M26.33,330.41A73.62,73.62,0,0,1,100,256.75,73.62,73.62,0,0,1,26.33,330.41Z"></path>
               <path class="shawl-part" d="M92.76,256.75a73.62,73.62,0,0,1,73.66,73.66A73.62,73.62,0,0,1,92.76,256.75Z"></path>
               <circle class="shawl-part" cx="96.38" cy="269.15" r="26.63"></circle>
            </g>
            <rect class="face" x="72.11" y="38.2" width="48.53" height="202.49" rx="24.27" ry="24.27"></rect>
         </g>
         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--left">
               <circle class="eyeball" cx="79.94" cy="81" r="11.98"></circle>
               <circle class="pupil" cx="79.94" cy="81" r="6.14"></circle>
            </g>
            <g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--right">
               <circle class="eyeball" cx="112.78" cy="81" r="15.2"></circle>
               <circle class="pupil" cx="112.78" cy="81" r="7.79"></circle>
            </g>
         </g>
				 <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-name="mouth" part-type="group" class="mouth">
            <rect class="mouth-figure" x="81.54" y="185.9" width="39.1" height="8.83"></rect>
            <rect class="tooth" x="94.68" y="185.9" width="4.48" height="4.48"></rect>
            <rect class="tooth" x="102.67" y="185.9" width="4.48" height="4.48"></rect>
         </g>
         <g monster-part part-group="head-figure" part-type="container"></g>
         <g monster-part part-group="mouth" part-type="container"></g>
         <g monster-part part-group="nose" part-type="container"></g>
        <g monster-part part-name="nose" part-type="group">
          <path class="nose" d="M96.62,109a13.69,13.69,0,0,1,12.54,13.6V157H96.62Z"></path>
        </g>
      </g>
   </g>
</svg>
