select-page {
  .container {
    // position: relative;
    background-color: #003d4e;
  }

  .select-page__monster {
    transform: translate(-50%, calc(-100% - 22px));

    &--ghost {
      transform: translate(-50%, calc(-100% - 22px)) rotate(30deg);
    }

    &--yaga {
      transform: translate(-50%, calc(-100% - 22px)) rotate(-25grad);
    }

    &--spider {
      transform: translate(-50%, -22px);
    }

    &--skeleton {
      transform: translate(-50%, -58%);
    }
  }

  .cls-1 {
    fill: #003d4e;
  }

  .monsters_window {
    fill: #003d4e;
    transition: fill .3s ease;

    &--yellow {
      fill: yellow;
      transition: fill .3s ease;
    }
  }

  .bg {
    border-top: 22px solid $primary-dark-color;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    z-index: -1;
  }

  .bg__content {
    width: 100%;
    height: 100%;
  }

  .list {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .item {
    position: absolute;
  }

  & .mobile .monsters {
    &__alien {
      height: 14.443%;
    }

    &__yaga {
      height: 14.5%;
    }

    &__skeleton {
     height: 14.5%;
   }

    &__mummy {
    height: 14.476%;
   }

   &__spider {
     height: 13.462%;
   }

   &__ghost {
     height: 13.816%;
   }

   &__doctor {
     height: 16.06%;
   }

   &__bed {
     height: 10.2%;
   }

   &__wolf {
     height: 9.271%;
   }

   &__yeti {
     height: 14.868%;
   }

   &__vampire {
     height: 15.4%;
   }

   &__zombie {
     height: 16.463%;
   }
  }


  .monsters {
    position: absolute;
    z-index: 10;
    overflow: visible;
    // outline: 1px solid red;

    &__alien {
      height: 19.75%;
    }

    &__yaga {
      height: 20.805%;
      z-index: 11;
    }

    &__skeleton {
      height: 19%;
    }

    &__mummy {
      height: 19.75%;
    }

    &__spider {
      height: 18.063%;
    }

    &__ghost {
      height: 18.523%;
    }

    &__doctor {
      height: 21.549%;
    }

    &__bed {
      height: 14.5%;
    }

    &__wolf {
      height: 12.439%;
    }

    &__yeti {
      height: 19.951%;
    }

    &__vampire {
      height: 21%;
    }

    &__zombie {
      height: 22.5%;
    }

  }
}
