doctor {
  .doctor {
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;

    & .body {
      fill: #fff;
    }

    & .eyeball {
      &--lid {
        fill: #ebba96;
        stroke: none;
      }
    }

    & .hat {
      fill: #fff;
    }

    & .head-figure {
      fill: #f7decb;
    }

    & .ear {
      fill: #f7decb;
    }

    & .nose {
      fill: #ebba96;
    }

    & .mouth-figure {
      fill: #f24943;
    }

    & .fadeIn {
       transition: fill .2s linear;
       fill: black;
    }

    & .fadeOut {
       transition: fill .2s linear;
    }

    & .tooth {
      fill: #fff;
    }

    & .cross {
      fill: #f24943;
    }

    & .eye {
      stroke: #fff;
      stroke-miterlimit: 10;

      &--left {
        stroke-width: 3.27px;
      }

      &--right {
        stroke-width: 6.03px;
      }

      &--mask {
        stroke: none;
      }
    }
  }

}
