<svg width="80%" height="80%" class="doctor svg-container" viewBox="0 0 150.13 337.94" width="auto" height="96%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <g monster-part part-name="outer" part-type="group" class="">
     <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

     <g monster-part part-name="body" part-type="group" part-outline="true" >
       <path class="body" d="M150.15,332a75.32,75.32,0,0,0-75.1-75.1h0A75.32,75.32,0,0,0,0,332V761.33h150.2Z"></path>
     </g>
      <g monster-part part-group="body" part-type="container"></g>
      <g class="head">
         <ellipse  monster-part part-name="head-figure" part-type="group" class="head-figure" cx="75.42" cy="173.19" rx="49.17" ry="117.42"></ellipse>
         <g class="hat decor__hat">
            <rect class="hat-figure" x="40.23" width="70.38" height="90.75"></rect>
            <rect class="cross cross--vertical" x="69.55" y="22.99" width="11.74" height="51.37"></rect>
            <rect class="cross cross--horizontal" x="50" y="42.8" width="51.37" height="11.74"></rect>
         </g>

         <g monster-part part-name="ears" part-type="group" part-outline="true" class="ears">
            <ellipse class="ear ear--left" cx="25.38" cy="169.88" rx="11.3" ry="26.99"></ellipse>
            <ellipse class="ear ear--right" cx="124.87" cy="169.88" rx="11.3" ry="26.99"></ellipse>
         </g>
         <g monster-part part-group="ears" part-type="container"></g>


         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <circle monster-part part-name="eye" part-name-mod="left" part-type="element" part-group="eyes" class="eye eye--left" cx="55.81" cy="143.35" r="6.53"></circle>
            <circle monster-part part-name="eye" part-name-mod="right" part-type="element" part-group="eyes" class="eye eye--right" cx="92.44" cy="137.48" r="12.06"></circle>
         </g>
				 <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-group="head-figure" part-type="container"></g>
         <g monster-part part-name="mouth" part-type="group" class="mouth">
           <rect class="tooth" x="61.64" y="231.9" width="10.92" height="15.17"></rect>
           <rect class="tooth" x="78.28" y="231.9" width="10.92" height="15.17"></rect>
           <rect class="mouth-figure" x="52.67" y="225.05" width="45.5" height="7.34"></rect>
         </g>
         <g monster-part part-group="mouth" part-type="container"></g>
         <g monster-part part-group="nose" part-type="container"></g>
          <g monster-part part-name="nose" part-type="group">
            <rect class="nose" x="69.96" y="161.94" width="10.92" height="53.82"></rect>
          </g>
      </g>

      <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
   </g>
</svg>
