<svg class="doctor svg-container" viewBox="0 -20 150.13 357.94" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <svg monster-part part-name="confetti" part-type="group" part-hidden="true" visibility="hidden" width="322.06" height="357.93" y="-20" x="-98" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244.28 271.49">
    <circle class="confetti--color--green" cx="198.19" cy="97.69" r="3.46" transform="translate(-22.48 86.36) rotate(-23.3)"/>
    <circle class="confetti--color--green" cx="189.49" cy="57.32" r="3.46" transform="translate(-7.22 79.63) rotate(-23.3)"/>
    <circle class="confetti--color--green" cx="236.82" cy="4.51" r="3.46" transform="translate(17.53 94.04) rotate(-23.3)"/>
    <circle class="confetti--color--green" cx="240.82" cy="85.84" r="3.46" transform="translate(-14.31 102.26) rotate(-23.3)"/>
    <circle class="confetti--color--dark-yellow" cx="186.31" cy="16.69" r="3.46" transform="translate(8.59 75.06) rotate(-23.3)"/>
    <circle class="confetti--color--dirty-yellow" cx="180.83" cy="111.32" r="3.46" transform="translate(-29.29 80.6) rotate(-23.3)"/>
    <circle class="confetti--color--green" cx="224.16" cy="131.13" r="3.46" transform="translate(-33.59 99.36) rotate(-23.3)"/>
    <circle class="confetti--color--green" cx="222.31" cy="60.69" r="5.01" transform="translate(-5.88 92.89) rotate(-23.3)"/>
    <circle class="confetti--color--dark-yellow" cx="207.74" cy="127.52" r="5.01" transform="translate(-33.5 92.57) rotate(-23.3)"/>
    <circle class="confetti--color--dark-blue" cx="226.97" cy="110.92" r="5.01" transform="translate(-25.37 98.82) rotate(-23.3)"/>
    <circle class="confetti--color--dark-blue" cx="212.02" cy="74.34" r="5.01" transform="translate(-12.12 89.93) rotate(-23.3)"/>
    <circle class="confetti--color--dark-blue" cx="226.04" cy="28.03" r="5.01" transform="translate(7.35 91.7) rotate(-23.3)"/>
    <circle class="confetti--color--green" cx="62.19" cy="41.92" r="3.46" transform="translate(-6.45 11.69) rotate(-10.21)"/>
    <circle class="confetti--color--green" cx="61.52" cy="83.2" r="3.46" transform="translate(-13.78 12.23) rotate(-10.21)"/>
    <circle class="confetti--color--green" cx="3.46" cy="123.93" r="3.46" transform="translate(-21.92 2.58) rotate(-10.21)"/>
    <circle class="confetti--color--green" cx="17.98" cy="43.8" r="3.46" transform="translate(-7.48 3.88) rotate(-10.21)"/>
    <circle class="confetti--color--dark-yellow" cx="66.98" cy="109.36" r="3.46" transform="translate(-18.33 13.61) rotate(-10.21)"/>
    <circle class="confetti--color--dirty-yellow" cx="82.19" cy="32.57" r="3.46" transform="translate(-4.47 15.09) rotate(-10.21)"/>
    <circle class="confetti--color--green" cx="44.47" cy="3.46" r="3.46" transform="translate(0.09 7.94) rotate(-10.21)"/>
    <circle class="confetti--color--green" cx="30.32" cy="72.49" r="5.01" transform="translate(-12.37 6.52) rotate(-10.21)"/>
    <circle class="confetti--color--dark-yellow" cx="59.64" cy="10.69" r="5.01" transform="translate(-0.95 10.74) rotate(-10.21)"/>
    <circle class="confetti--color--dark-blue" cx="37.15" cy="22.51" r="5.01" transform="matrix(0.98, -0.18, 0.18, 0.98, -3.4, 6.94)"/>
    <circle class="confetti--color--dark-blue" cx="43.43" cy="61.52" r="5.01" transform="translate(-10.22 8.68) rotate(-10.21)"/>
    <circle class="confetti--color--dark-blue" cx="19.29" cy="103.46" r="5.01" transform="translate(-18.04 5.06) rotate(-10.21)"/>
    <circle class="confetti--color--green" cx="53.6" cy="158.07" r="3.46" transform="translate(-75.63 52.44) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="68.31" cy="196.66" r="3.46" transform="translate(-93.85 66.1) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="29.52" cy="256.03" r="3.46" transform="translate(-131.21 54.57) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="13.25" cy="176.24" r="3.46" transform="translate(-91.39 33.82) rotate(-32.01)"/>
    <circle class="confetti--color--dark-yellow" cx="77.6" cy="236.34" r="3.46" transform="translate(-113.47 77.06) rotate(-32.01)"/>
    <circle class="confetti--color--dirty-yellow" cx="68.7" cy="141.97" r="3.46" transform="translate(-64.8 57.99) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="34.31" cy="130.03" r="3.46" transform="translate(-63.7 37.95) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="35.36" cy="198.29" r="5.01" transform="translate(-99.73 48.88) rotate(-32.01)"/>
    <circle class="confetti--color--dark-yellow" cx="41.64" cy="108.69" r="5.01" transform="translate(-51.28 38.6) rotate(-32.01)"/>
    <circle class="confetti--color--dark-blue" cx="23.15" cy="149.35" r="5.01" transform="translate(-75.64 34.97) rotate(-32.01)"/>
    <circle class="confetti--color--dark-blue" cx="43.46" cy="183.24" r="5.01" transform="translate(-90.52 50.89) rotate(-32.01)"/>
    <circle class="confetti--color--dark-blue" cx="36.62" cy="231.15" r="5.01" transform="translate(-116.95 54.55) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="225.6" cy="193.41" r="3.46" transform="translate(-68.21 148.97) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="240.31" cy="231.99" r="3.46" transform="translate(-86.43 162.63) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="192.15" cy="143.63" r="3.46" transform="translate(-46.92 123.68) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="185.25" cy="211.57" r="3.46" transform="translate(-83.98 130.35) rotate(-32.01)"/>
    <circle class="confetti--color--dark-yellow" cx="236.31" cy="259.36" r="3.46" transform="translate(-101.54 164.68) rotate(-32.01)"/>
    <circle class="confetti--color--dirty-yellow" cx="240.7" cy="177.3" r="3.46" transform="translate(-57.38 154.53) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="194.87" cy="164.28" r="3.46" transform="translate(-57.45 128.26) rotate(-32.01)"/>
    <circle class="confetti--color--green" cx="207.36" cy="233.63" r="5.01" transform="translate(-92.31 145.42) rotate(-32.01)"/>
    <circle class="confetti--color--dark-yellow" cx="211.64" cy="165.36" r="5.01" transform="translate(-55.47 137.31) rotate(-32.01)"/>
    <circle class="confetti--color--dark-blue" cx="195.15" cy="184.68" r="5.01" transform="translate(-68.22 131.51) rotate(-32.01)"/>
    <circle class="confetti--color--dark-blue" cx="215.46" cy="218.58" r="5.01" transform="translate(-83.1 147.43) rotate(-32.01)"/>
    <circle class="confetti--color--dark-blue" cx="208.62" cy="266.48" r="5.01" transform="translate(-109.53 151.08) rotate(-32.01)"/>
  </svg>

   <g monster-part part-name="outer" part-type="group" class="">
     <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

     <g monster-part part-name="body" part-type="group" part-outline="true" >
       <path class="body" d="M150.15,332a75.32,75.32,0,0,0-75.1-75.1h0A75.32,75.32,0,0,0,0,332V761.33h150.2Z"></path>
     </g>
      <g monster-part part-group="body" part-type="container"></g>
      <g class="head">
         <ellipse  monster-part part-name="head-figure" part-type="group" class="head-figure" cx="75.42" cy="173.19" rx="49.17" ry="117.42"></ellipse>
         <g class="hat decor__hat">
            <rect class="hat-figure" x="40.23" width="70.38" height="90.75"></rect>
            <rect class="cross cross--vertical" x="69.55" y="22.99" width="11.74" height="51.37"></rect>
            <rect class="cross cross--horizontal" x="50" y="42.8" width="51.37" height="11.74"></rect>
         </g>

         <g monster-part part-name="ears" part-type="group" part-outline="true" class="ears">
            <ellipse class="ear ear--left" cx="25.38" cy="169.88" rx="11.3" ry="26.99"></ellipse>
            <ellipse class="ear ear--right" cx="124.87" cy="169.88" rx="11.3" ry="26.99"></ellipse>
         </g>
         <g monster-part part-group="ears" part-type="container"></g>


         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <circle monster-part part-name="eye" part-name-mod="left" part-type="element" part-group="eyes" class="eye eye--left" cx="55.81" cy="143.35" r="6.53"></circle>
            <circle monster-part part-name="eye" part-name-mod="right" part-type="element" part-group="eyes" class="eye eye--right" cx="92.44" cy="137.48" r="12.06"></circle>
         </g>
				 <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-group="head-figure" part-type="container"></g>
         <g monster-part part-name="mouth" part-type="group" class="mouth">
           <rect class="tooth" x="61.64" y="231.9" width="10.92" height="15.17"></rect>
           <rect class="tooth" x="78.28" y="231.9" width="10.92" height="15.17"></rect>
           <rect class="mouth-figure" x="52.67" y="225.05" width="45.5" height="7.34"></rect>
         </g>
         <g monster-part part-group="mouth" part-type="container"></g>
         <g monster-part part-group="nose" part-type="container"></g>
          <g monster-part part-name="nose" part-type="group">
            <rect class="nose" x="69.96" y="161.94" width="10.92" height="53.82"></rect>
          </g>
      </g>

      <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
   </g>
</svg>
