page-game {
  height: auto;

  & .content {
    background-color: $primary-dark-color;
  }

  @keyframes middle-screen {
    0% {
      opacity: 1;
    }

    99% {
      opacity: 0;
      z-index: 10;
    }

    100% {
      opacity: 0;
      z-index: -1;
      display: none;
    }
  }

  & .middle-screen {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    opacity: 1;
    animation-name: middle-screen;
    animation-duration: 0.75s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;

    &-1 {
      background-image: url("../assets/imgs/middle-screen/alien.svg");
      background-size: auto 60%;
    }
    &-2 {
      background-image: url("../assets/imgs/middle-screen/zombie.svg");
      background-size: auto 56%;
      background-color: #f46540;
    }
    &-3 {
      background-image: url("../assets/imgs/middle-screen/skeleton.svg");
      background-size: auto 62%;
    }
    &-4 {
      background-image: url("../assets/imgs/middle-screen/spider.svg");
      background-size: auto 77%;
      background-color: #f1ea35;
      background-position-y: top;
    }
    &-5 {
      background-image: url("../assets/imgs/middle-screen/vampire.svg");
      background-size: auto 62%;
      background-color: #3b457e;
    }
    &-6 {
      background-image: url("../assets/imgs/middle-screen/wolf.svg");
      // background-size: auto 37%;
      background-size: 81% auto;
      background-color: #4eb959;
    }
    &-7 {
      background-image: url("../assets/imgs/middle-screen/mummy.svg");
      background-size: auto 56%;
      background-color: #3f2721;
    }
    &-8 {
      background-image: url("../assets/imgs/middle-screen/yaga.svg");
      background-size: auto 56%;
      background-color: #72538e;
    }
    &-9 {
      background-image: url("../assets/imgs/middle-screen/doctor.svg");
      background-size: auto 79%;
      background-color: #f24943;
    }
    &-10 {
      background-image: url("../assets/imgs/middle-screen/yeti.svg");
      background-size: auto 61%;
      background-color: #fff;
    }
    &-11 {
      background-image: url("../assets/imgs/middle-screen/ghost.svg");
      background-size: auto 56%;
    }

    &-12 {
      background-image: url("../assets/imgs/middle-screen/bed.svg");
      // background-size: auto 45%;
      background-size: 80% auto;
      background-color: #003D4E;
    }
  }

  #on-screen {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  .trinket--screen {
    position: absolute;
  }

  .monster {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  .svg-container {
    position: absolute;
    bottom: 0;
    z-index: 10;
    // left: 50%;
    // transform: translateX(-50%);
  }

  .container {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;

  }

  .btn-close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;

    padding: 10px;
    border-radius: 50%;
    z-index: 30;
  }

  .icon-close {
    transform: scale(1.25);
  }

  .btn-reset {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 30px;
    height: 30px;

    padding: 10px;
    border-radius: 50%;
    z-index: 30;
    opacity: .5;
  }

  .icon-reset {
    transform: scale(1, -1) rotate(-90deg);
  }

  .screen {
    position: relative;
    z-index: 0;
    width: 100%;
    flex: 1;

    display: block;
  }

  .placeholder {
    &-name {
      display: block;
      padding: 5px;
      color: grey;
      font-size: 5em;
      font-weight: bold;
      text-shadow: 1px 1px white;
    }

    &-id {
      display: block;
      color: grey;
      font-size: 7em;
      font-weight: bold;
      text-shadow: 1px 1px white;

      &:before {
        content: 'id: ';
      }
    }
  }

  .panel {
    display: flex;
    width: 100%;
    height: 200px;
    // background-color: $primary-light-color;
    // border-bottom: 25px solid $primary-color;
    // border-top: 1px solid $primary-dark-color;
    background-color: black;
    border-bottom: 25px solid dimgrey;
    // border-top: 1px solid lightgrey;
    list-style: none;
    margin: 0;
    padding: 10px;
    align-items: center;
    overflow-y: auto;

    &__item{
      flex-shrink: 0;
      margin: 0 10px;

      &--fraud {
        width: 10px;
        height: 100%;
      }
    }

    &__doubled + .panel__doubled {
      margin-left: -7px;
    }

    &-container {
      position: relative;
      z-index: 0;
      flex: 0 0 200px;
    }
  }

    .blocked {
      opacity: 0.5;
    }
}
