<svg class="alien svg-container" preserveAspectRatio="xMidYMax meet" viewBox="-20 -40 205.37 342.36" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<svg monster-part part-name="confetti" part-type="group" part-hidden="true" visibility="hidden" width="264.596" height="321.1" y="-60" x="-42" viewBox="0 0 228.1 276.81" xmlns="http://www.w3.org/2000/svg">
		<circle class="confetti--color--purple" cx="175.8" cy="39.96" r="2.92" transform="translate(61.28 179.2) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="194.19" cy="132.36" r="2.92" transform="translate(-11.17 246.62) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="224.86" cy="111.15" r="2.92" transform="translate(24.71 262.33) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="187.58" cy="163.72" r="2.92" transform="translate(-42.85 258.01) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="61.52" cy="41.69" r="2.92" transform="translate(-3.32 78) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="2.92" cy="25.05" r="2.92" transform="translate(-20.79 16.43) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="46.86" cy="177.69" r="2.92" transform="translate(-132.99 139.93) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="165.5" cy="205.75" r="2.92" transform="translate(-92.61 261.46) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="37.5" cy="244.42" r="2.92" transform="translate(-197.8 168.38) rotate(-63.37)"/>
		<circle class="confetti--color--purple" cx="203.62" cy="84.67" r="2.92" transform="translate(36.66 228.74) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="176.17" cy="4.22" r="4.21" transform="translate(93.43 159.8) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="100.62" cy="38.25" r="4.21" transform="translate(21.33 111.05) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="192.28" cy="62.29" r="4.21" transform="translate(50.41 206.25) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="11.09" cy="180.47" r="4.21" transform="translate(-155.21 109.49) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="223.89" cy="137.99" r="4.21" transform="translate(0.18 276.27) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="174.08" cy="244.59" r="4.21" transform="translate(-122.59 290.56) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="208.08" cy="265.26" r="4.21" transform="translate(-122.31 332.36) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="38.08" cy="272.59" r="4.21" transform="translate(-222.66 184.44) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="29.52" cy="34.36" r="4.21" transform="translate(-14.42 45.35) rotate(-63.37)"/>
		<circle class="confetti--color--yellow" cx="51.52" cy="215.03" r="4.21" transform="translate(-163.79 164.7) rotate(-63.37)"/>
		<circle class="confetti--color--red" cx="214.86" cy="27.69" r="4.41" transform="translate(93.79 207.34) rotate(-63.37)"/>
		<circle class="confetti--color--red" cx="6.19" cy="57.69" r="4.41" transform="translate(-48.16 37.36) rotate(-63.37)"/>
		<circle class="confetti--color--red" cx="18.86" cy="136.36" r="4.41" transform="translate(-111.49 92.09) rotate(-63.37)"/>
		<circle class="confetti--color--red" cx="195.52" cy="235.03" r="4.41" transform="translate(-102.21 304.45) rotate(-63.37)"/>
		<circle class="confetti--color--red" cx="10.91" cy="231.71" r="4.41" transform="translate(-201.11 137.6) rotate(-63.37)"/>
		<circle class="confetti--color--red" cx="222.6" cy="172.1" r="4.41" transform="translate(-31.02 293.94) rotate(-63.37)"/>
		<circle class="confetti--color--red" cx="167.52" cy="176.36" r="4.41" transform="translate(-65.22 247.06) rotate(-63.37)"/>
	</svg>

	<g monster-part part-name="outer" part-type="group" class="">
		<g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

		<g monster-part part-name="body" part-type="group" part-outline="true" >
			<ellipse class="body body--figure" cx="82.66" cy="285.78" rx="50.36" ry="139.24"></ellipse>
		</g>

		<g class="head">
			<path monster-part part-name="head-figure" part-type="group" class="head head--figure" d="M82.67,153.65a39.12,39.12,0,0,1-33.88-19.56L5.25,58.69A39.13,39.13,0,0,1,39.13,0H126.2a39.13,39.13,0,0,1,33.88,58.69l-43.53,75.4A39.13,39.13,0,0,1,82.67,153.65Z"></path>
			<g class="content">
				<g  monster-part part-name="ears" part-type="group" part-hidden="true" visibility="hidden" class="ears">
					<ellipse class="ear" cx="2" cy="60" rx="11" ry="13.33"/>
					<ellipse class="ear" cx="163" cy="60" rx="11" ry="13.33"/>
				</g>
        <g monster-part part-group="ears" part-type="container"></g>

				<g monster-part part-name="mouth" part-type="group">
					<path monster-part part-name="mouth-figure" part-type="element" part-group="mouth" class="mouth" d="M82.66,131.54a2.83,2.83,0,0,1-2.45-1.41l-3.15-5.45a2.83,2.83,0,0,1,2.45-4.24h6.29a2.83,2.83,0,0,1,2.45,4.24l-3.15,5.45A2.83,2.83,0,0,1,82.66,131.54Z"></path>
				</g>
				<g monster-part part-name="eyes" part-type="group" class="eyes">
					<g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--left">
						<path class="eyeball" d="M25.19,26.89A52.14,52.14,0,0,0,77.36,79.06,52.14,52.14,0,0,0,25.19,26.89Z"></path>
						<circle class="iris" cx="51.86" cy="53.61" r="15.32"></circle>
						<circle class="pupil" cx="51.86" cy="53.61" r="7.21"></circle>
					</g>
					<g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--right">
						<path class="eyeball" d="M140.14,26.89A52.14,52.14,0,0,0,88,79.06,52.14,52.14,0,0,0,140.14,26.89Z"></path>
						<circle class="iris" cx="113.53" cy="53.61" r="15.32"></circle>
						<circle class="pupil" cx="113.53" cy="53.61" r="4.75"></circle>
					</g>
				</g>
				<g monster-part part-name="eyes-animation">
					<clipPath id="eyeball--left-mask">
						<path monster-part part-name="eye" part-name-mod="left" part-type="element" part-group="eyes" class="eye eye--mask" d="M25.19,26.89A52.14,52.14,0,0,0,77.36,79.06,52.14,52.14,0,0,0,25.19,26.89Z"></path>
					</clipPath>
					<path monster-part part-name="lid" part-name-mod="left" part-type="element" part-group="eye" clip-path="url(#eyeball--left-mask)" class="eyeball eyeball--lid eyeball--left" d="M45,2a52.14,52.14,0,0,0,52.17,52.17a52.14,52.14,0,0,0,-52.17,-52.17z"></path>

					<clipPath id="eyeball--right-mask">
						<path monster-part part-name="eye" part-name-mod="right" part-type="element" part-group="eyes" class="eye eye--mask" d="M140.14,26.89A52.14,52.14,0,0,0,88,79.06,52.14,52.14,0,0,0,140.14,26.89Z"></path>
					</clipPath>
					<path monster-part part-name="lid" part-name-mod="right" part-type="element" part-group="eye" clip-path="url(#eyeball--right-mask)" class="eyeball eyeball--lid eyeball--right" d="M115.14,2a52.14,52.14,0,0,0,-52.14,52.17a52.14,52.14,0,0,0,52.14,-52.17z"></path>
				</g>

        <g monster-part part-group="eyes" part-type="container"></g>
				<g monster-part part-name="nose" part-type="group" class="nose">
					<circle class="nostril nostril--left" cx="76.75" cy="99.18" r="2.49"></circle>
					<circle class="nostril nostril--right" cx="88.6" cy="99.18" r="2.49"></circle>
				</g>
			</g>
			<g monster-part part-group="head-figure" part-type="container"></g>
			<g monster-part part-group="mouth" part-type="container"></g>
			<g monster-part part-group="nose" part-type="container"></g>
		</g>

		<g monster-part part-group="body" part-type="container"></g>

		<g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
	</g>
</svg>
