alien {
  .alien {
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;

    & .head--figure, & .ear {
      fill: #6fc055;
    }

    & .eyeball--lid {
      fill: rgb(90, 152, 55);
    }

    & .mouth {
      fill: #f24943;

      &.fadeIn {
        transition: fill .2s linear;
        fill: black;
      }

      &.fadeOut {
        transition: fill .2s linear;
        fill: #f24943;
      }
    }

    & .iris {
      fill: #586ab1,
    }

    & .body--figure {
      fill: #6fc055;
    }
  }
}
