<svg class="alien svg-container" viewBox="0 0 165.37 302.36" width="80%" height="80%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<g monster-part part-name="outer" part-type="group" class="">
		<g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

		<g monster-part part-name="body" part-type="group" part-outline="true" >
			<ellipse class="body body--figure" cx="82.66" cy="285.78" rx="50.36" ry="139.24"></ellipse>
		</g>

		<g class="head">
			<path monster-part part-name="head-figure" part-type="group" class="head head--figure" d="M82.67,153.65a39.12,39.12,0,0,1-33.88-19.56L5.25,58.69A39.13,39.13,0,0,1,39.13,0H126.2a39.13,39.13,0,0,1,33.88,58.69l-43.53,75.4A39.13,39.13,0,0,1,82.67,153.65Z"></path>
			<g class="content">
				<g  monster-part part-name="ears" part-type="group" part-hidden="true" visibility="hidden" class="ears">
					<ellipse class="ear" cx="2" cy="60" rx="11" ry="13.33"/>
					<ellipse class="ear" cx="163" cy="60" rx="11" ry="13.33"/>
				</g>
        <g monster-part part-group="ears" part-type="container"></g>

				<g monster-part part-name="mouth" part-type="group">
					<path monster-part part-name="mouth" part-type="element" part-group="mouth" class="mouth" d="M82.66,131.54a2.83,2.83,0,0,1-2.45-1.41l-3.15-5.45a2.83,2.83,0,0,1,2.45-4.24h6.29a2.83,2.83,0,0,1,2.45,4.24l-3.15,5.45A2.83,2.83,0,0,1,82.66,131.54Z"></path>
				</g>
				<g monster-part part-name="eyes" part-type="group" class="eyes">
					<g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--left">
						<path class="eyeball" d="M25.19,26.89A52.14,52.14,0,0,0,77.36,79.06,52.14,52.14,0,0,0,25.19,26.89Z"></path>
						<circle class="iris" cx="51.86" cy="53.61" r="15.32"></circle>
						<circle class="pupil" cx="51.86" cy="53.61" r="7.21"></circle>
					</g>
					<g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--right">
						<path class="eyeball" d="M140.14,26.89A52.14,52.14,0,0,0,88,79.06,52.14,52.14,0,0,0,140.14,26.89Z"></path>
						<circle class="iris" cx="113.53" cy="53.61" r="15.32"></circle>
						<circle class="pupil" cx="113.53" cy="53.61" r="4.75"></circle>
					</g>
				</g>
        <g monster-part part-group="eyes" part-type="container"></g>
				<g monster-part part-name="nose" part-type="group" class="nose">
					<circle class="nostril nostril--left" cx="76.75" cy="99.18" r="2.49"></circle>
					<circle class="nostril nostril--right" cx="88.6" cy="99.18" r="2.49"></circle>
				</g>
			</g>
			<g monster-part part-group="head-figure" part-type="container"></g>
			<g monster-part part-group="mouth" part-type="container"></g>
			<g monster-part part-group="nose" part-type="container"></g>
		</g>

		<g monster-part part-group="body" part-type="container"></g>

		<g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
	</g>
</svg>
