alien {
  .alien {
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;

    & .head--figure, & .ear {
      fill: #6fc055;
    }

    & .mouth {
      fill: #f24943,
    }

    & .iris {
      fill: #586ab1,
    }

    & .body--figure {
      fill: #6fc055;
    }
  }
}
