// zombie {
  .zombie {
    right: 0;

    & .body {
      fill: #cdcdcd;
    }

    & .face {
      fill: #00ad5e;
    }

    & .nose {
      fill: #20654d;
    }

    & .pupil {
      fill: #f24943;
    }

    & .eyeball {
      &--lid {
        fill: #00A45F,
      }
    }

    & .steam-part {
      stroke-width: 2.63px;
      stroke: #000;
      stroke-miterlimit: 10;
      fill: none;
    }

    & .fadeIn {
       transition: fill .2s linear;
       fill: #F24943;
    }

    & .fadeOut {
       transition: fill .2s linear;
    }
  }
// }
