yeti {
  .yeti {
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;

    & .body, & .ear {
      fill: #cdcdcd;
    }

    & .mouth-figure {
      stroke: #f24943;
      stroke-width: 3.8px;
    }


    & .eyelash {
      fill:none;
      stroke:#000;
      stroke-miterlimit:10;
      stroke-width:0.5px;
    }

    & .eyeball {
      &--lid {
        fill: #9a9b9b;
      }
    }

    & .hair {
      fill: #9a9b9b;
    }

    & .face {
      fill: #cdcdcd;
    }

    & .eyebrows {
      fill: #cdcdcd;
    }

    & .nose {
      fill: #9a9b9b;
    }

    & .ear {
      fill: #cdcdcd;
    }

    & .jaw {
      fill: #cdcdcd;
    }

    & .tooth {
      fill: #fff;
    }
  }
}
