<ng-template trinket-uniq-part part-name="default">
  <svg width="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.5 86.5" class="dress">
     <path class="cls-1" d="M172.5,46.51a46.64,46.64,0,0,0,-46.5,-46.51h-79.5a46.64,46.64,0,0,0,-46.5,46.51v40h172.5z"></path>
     <polygon class="cls-2" points="13.5 7.8 72.04 39 89.19 0 27.16 0 13.5 7.8"></polygon>
     <polygon class="cls-2" points="159 7.8 100.46 39 83.31 0 145.34 0 159 7.8"></polygon>
     <circle class="cls-3" cx="27.81" cy="7.53" r="2.05"></circle>
     <circle class="cls-3" cx="37.31" cy="6.35" r="2.05"></circle>
     <circle class="cls-3" cx="40.79" cy="13.8" r="2.05"></circle>
     <circle class="cls-3" cx="52.57" cy="8.35" r="2.05"></circle>
     <circle class="cls-3" cx="69.46" cy="9.33" r="2.05"></circle>
     <circle class="cls-3" cx="109.21" cy="27.3" r="2.05"></circle>
     <circle class="cls-3" cx="101.21" cy="13" r="2.05"></circle>
     <circle class="cls-3" cx="86.21" cy="10.55" r="7.13" transform="translate(17.79 64.05) rotate(-45)"></circle>
     <circle class="cls-1" cx="84.11" cy="8.44" r="1.24" transform="translate(18.66 61.95) rotate(-45)"></circle>
     <circle class="cls-1" cx="88.16" cy="12.49" r="1.24" transform="translate(16.99 66) rotate(-45)"></circle>
     <circle class="cls-1" cx="88.16" cy="8.44" r="1.24" transform="translate(19.85 64.81) rotate(-45)"></circle>
     <circle class="cls-1" cx="84.11" cy="12.49" r="1.24" transform="translate(15.8 63.13) rotate(-45)"></circle>
     <circle class="cls-3" cx="86.21" cy="37.05" r="7.13" transform="translate(-0.95 71.81) rotate(-45)"></circle>
     <circle class="cls-3" cx="86.21" cy="63.55" r="7.13" transform="translate(-19.69 79.58) rotate(-45)"></circle>
     <circle class="cls-3" cx="108.96" cy="6.25" r="2.05"></circle>
     <circle class="cls-3" cx="119.21" cy="10.25" r="2.05"></circle>
     <circle class="cls-3" cx="132.46" cy="5.25" r="2.05"></circle>
     <circle class="cls-3" cx="143.66" cy="9" r="2.05"></circle>
     <circle class="cls-3" cx="121.71" cy="22.5" r="2.05"></circle>
     <circle class="cls-3" cx="57.46" cy="18.17" r="2.05"></circle>
     <circle class="cls-3" cx="66.3" cy="27.83" r="2.05"></circle>
     <circle class="cls-1" cx="84.11" cy="34.95" r="1.24" transform="translate(-0.08 69.71) rotate(-45)"></circle>
     <circle class="cls-1" cx="88.16" cy="39" r="1.24" transform="translate(-1.75 73.76) rotate(-45)"></circle>
     <circle class="cls-1" cx="88.16" cy="34.95" r="1.24" transform="translate(1.11 72.57) rotate(-45)"></circle>
     <circle class="cls-1" cx="84.11" cy="39" r="1.24" transform="translate(-2.94 70.89) rotate(-45)"></circle>
     <circle class="cls-1" cx="84.17" cy="61.39" r="1.24" transform="translate(-18.76 77.49) rotate(-45)"></circle>
     <circle class="cls-1" cx="88.22" cy="65.44" r="1.24" transform="translate(-20.43 81.54) rotate(-45)"></circle>
     <circle class="cls-1" cx="88.22" cy="61.39" r="1.24" transform="translate(-17.57 80.36) rotate(-45)"></circle>
     <circle class="cls-1" cx="84.17" cy="65.44" r="1.24" transform="translate(-21.62 78.68) rotate(-45)"></circle>
     <line class="cls-4" x1="84.11" y1="8.44" x2="88.16" y2="12.49"></line>
     <line class="cls-4" x1="88.16" y1="8.44" x2="84.11" y2="12.49"></line>
     <line class="cls-4" x1="84.11" y1="34.94" x2="88.16" y2="38.99"></line>
     <line class="cls-4" x1="88.16" y1="34.94" x2="84.11" y2="38.99"></line>
     <line class="cls-4" x1="84.06" y1="61.5" x2="88.11" y2="65.55"></line>
     <line class="cls-4" x1="88.11" y1="61.5" x2="84.06" y2="65.55"></line>
  </svg>
</ng-template>

<ng-template trinket-uniq-part part-name="mummy">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 192.892 96" class="dress--mummy">
    <path class="cls-3" d="M202.89,70a52.15,52.15,0,0,0,-52,-52h-88.89a52.15,52.15,0,0,0,-52,52v44.72h192.89z" transform="translate(-10 -18.02)"></path>
    <polygon class="cls-4" points="15.1 8.72 80.56 43.61 99.73 0 30.37 0 15.1 8.72"></polygon>
    <polygon class="cls-4" points="177.79 8.72 112.33 43.61 93.16 0 162.52 0 177.79 8.72"></polygon>
    <circle class="cls-5" cx="31.1" cy="8.42" r="2.29"></circle>
    <circle class="cls-5" cx="41.73" cy="7.1" r="2.29"></circle>
    <circle class="cls-5" cx="45.61" cy="15.43" r="2.29"></circle>
    <circle class="cls-5" cx="58.79" cy="9.33" r="2.29"></circle>
    <circle class="cls-5" cx="77.68" cy="10.44" r="2.29"></circle>
    <circle class="cls-5" cx="122.12" cy="30.53" r="2.29"></circle>
    <circle class="cls-5" cx="113.18" cy="14.54" r="2.29"></circle>
    <circle class="cls-5" cx="106.4" cy="29.82" r="7.97" transform="translate(0.08 65.95) rotate(-45)"></circle>
    <circle class="cls-3" cx="104.05" cy="27.46" r="1.39" transform="translate(1.06 63.6) rotate(-45)"></circle>
    <circle class="cls-3" cx="108.58" cy="31.99" r="1.39" transform="translate(-0.82 68.12) rotate(-45)"></circle>
    <circle class="cls-3" cx="108.58" cy="27.46" r="1.39" transform="translate(2.38 66.8) rotate(-45)"></circle>
    <circle class="cls-3" cx="104.05" cy="31.99" r="1.39" transform="translate(-2.15 64.92) rotate(-45)"></circle>
    <circle class="cls-5" cx="106.4" cy="59.45" r="7.97" transform="translate(-20.87 74.63) rotate(-45)"></circle>
    <circle class="cls-5" cx="106.4" cy="89.09" r="7.97" transform="translate(-41.83 83.31) rotate(-45)"></circle>
    <circle class="cls-5" cx="121.84" cy="6.99" r="2.29"></circle>
    <circle class="cls-5" cx="133.31" cy="11.46" r="2.29"></circle>
    <circle class="cls-5" cx="148.12" cy="5.87" r="2.29"></circle>
    <circle class="cls-5" cx="160.65" cy="10.06" r="2.29"></circle>
    <circle class="cls-5" cx="136.1" cy="25.16" r="2.29"></circle>
    <circle class="cls-5" cx="64.26" cy="20.31" r="2.29"></circle>
    <circle class="cls-5" cx="74.13" cy="31.12" r="2.29"></circle>
    <circle class="cls-3" cx="104.05" cy="57.1" r="1.39" transform="translate(-19.9 72.28) rotate(-45)"></circle>
    <circle class="cls-3" cx="108.58" cy="61.63" r="1.39" transform="translate(-21.78 76.8) rotate(-45)"></circle>
    <circle class="cls-3" cx="108.58" cy="57.1" r="1.39" transform="translate(-18.58 75.48) rotate(-45)"></circle>
    <circle class="cls-3" cx="104.05" cy="61.63" r="1.39" transform="translate(-23.1 73.6) rotate(-45)"></circle>
    <circle class="cls-3" cx="104.12" cy="86.67" r="1.39" transform="translate(-40.79 80.98) rotate(-45)"></circle>
    <circle class="cls-3" cx="108.64" cy="91.2" r="1.39" transform="translate(-42.66 85.51) rotate(-45)"></circle>
    <circle class="cls-3" cx="108.64" cy="86.67" r="1.39" transform="translate(-39.46 84.18) rotate(-45)"></circle>
    <circle class="cls-3" cx="104.12" cy="91.2" r="1.39" transform="translate(-43.99 82.31) rotate(-45)"></circle>
    <line class="cls-6" x1="94.05" y1="9.44" x2="98.58" y2="13.97"></line>
    <line class="cls-6" x1="98.58" y1="9.44" x2="94.05" y2="13.97"></line>
    <line class="cls-6" x1="94.05" y1="39.08" x2="98.58" y2="43.6"></line>
    <line class="cls-6" x1="98.58" y1="39.08" x2="94.05" y2="43.6"></line>
    <line class="cls-6" x1="93.99" y1="68.77" x2="98.52" y2="73.29"></line>
    <line class="cls-6" x1="98.52" y1="68.77" x2="93.99" y2="73.29"></line>
  </svg>
</ng-template>
<ng-template trinket-uniq-part part-name="zombie">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 261 191.33" class="dress--zombie">
    <path class="cls-3" d="M228,215.33l-220.67,-0.66l0.51,-81.75s-3.84,-61.92,44.16,-74.73l101.56,-26.19a61.54,61.54,0,0,1,74.73,44.12zm40.33,-32" transform="translate(-7.33 -24)"></path>
    <polygon class="cls-4" points="5.03 55.01 90.1 75.61 99.17 20.13 22.17 36 5.03 55.01"></polygon>
    <polygon class="cls-4" points="190.95 7.12 126.42 66.26 91.67 22.06 159.17 0 190.95 7.12"></polygon>
    <circle class="cls-5" cx="30.56" cy="73.95" r="2.7" transform="translate(-24.81 -14.04) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="41.31" cy="72.32" r="2.7" transform="translate(-24.06 -11.41) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="52.12" cy="82.33" r="2.7" transform="translate(-26.22 -8.4) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="61.88" cy="79.67" r="2.7" transform="translate(-25.25 -6.05) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="170" cy="44" r="2.7" transform="translate(-12.94 19.79) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="135.67" cy="78.67" r="2.7" transform="translate(-22.67 12.32) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="126.16" cy="56.79" r="2.7" transform="translate(-17.51 9.26) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="106.18" cy="58.59" r="9.41" transform="matrix(0.51, -0.86, 0.86, 0.51, -5.59, 96.24)"></circle>
    <circle class="cls-3" cx="102.8" cy="56.59" r="1.64" transform="translate(-5.53 92.34) rotate(-59.44)"></circle>
    <circle class="cls-3" cx="109.3" cy="60.43" r="1.64" transform="matrix(0.51, -0.86, 0.86, 0.51, -5.64, 99.83)"></circle>
    <circle class="cls-3" cx="107.97" cy="55.26" r="1.64" transform="translate(-1.84 96.14) rotate(-59.44)"></circle>
    <circle class="cls-3" cx="104.13" cy="61.77" r="1.64" transform="translate(-9.33 96.03) rotate(-59.44)"></circle>
    <circle class="cls-5" cx="114.9" cy="92.46" r="9.41" transform="translate(-30.47 120.4) rotate(-59.44)"></circle>
    <circle class="cls-5" cx="123.63" cy="126.32" r="9.41" transform="translate(-55.34 144.55) rotate(-59.44)"></circle>
    <circle class="cls-5" cx="133.84" cy="45.61" r="2.7" transform="translate(-14.48 10.82) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="148.25" cy="47.35" r="2.7" transform="translate(-14.46 14.47) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="159.95" cy="38.66" r="2.7" transform="translate(-11.92 17.11) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="180.73" cy="37.91" r="2.7" transform="translate(-11.08 22.27) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="144.62" cy="68.33" r="2.7" transform="translate(-19.8 14.23) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="156" cy="61.67" r="2.7" transform="translate(-17.78 16.85) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="80" cy="75" r="2.7" transform="translate(-23.51 -1.68) rotate(-14.44)"></circle>
    <circle class="cls-5" cx="86.42" cy="87.23" r="2.7" transform="translate(-26.36 0.31) rotate(-14.44)"></circle>
    <circle class="cls-3" cx="111.52" cy="90.46" r="1.64" transform="translate(-30.41 116.5) rotate(-59.44)"></circle>
    <circle class="cls-3" cx="118.02" cy="94.3" r="1.64" transform="translate(-30.52 123.99) rotate(-59.44)"></circle>
    <circle class="cls-3" cx="116.69" cy="89.13" r="1.64" transform="matrix(0.51, -0.86, 0.86, 0.51, -26.72, 120.3)"></circle>
    <circle class="cls-3" cx="112.85" cy="95.64" r="1.64" transform="translate(-34.21 120.19) rotate(-59.44)"></circle>
    <circle class="cls-3" cx="120.3" cy="124.23" r="1.64" transform="translate(-55.18 140.66) rotate(-59.44)"></circle>
    <circle class="cls-3" cx="126.8" cy="128.07" r="1.64" transform="translate(-55.28 148.15) rotate(-59.44)"></circle>
    <circle class="cls-3" cx="125.47" cy="122.9" r="1.64" transform="translate(-51.48 144.46) rotate(-59.44)"></circle>
    <circle class="cls-3" cx="121.63" cy="129.41" r="1.64" transform="translate(-58.98 144.35) rotate(-59.44)"></circle>
    <line class="cls-6" x1="95.46" y1="32.59" x2="101.97" y2="36.43"></line>
    <line class="cls-6" x1="100.64" y1="31.26" x2="96.8" y2="37.77"></line>
    <line class="cls-6" x1="104.19" y1="66.46" x2="110.69" y2="70.3"></line>
    <line class="cls-6" x1="109.36" y1="65.13" x2="105.52" y2="71.63"></line>
    <line class="cls-6" x1="112.86" y1="100.41" x2="119.37" y2="104.25"></line>
    <line class="cls-6" x1="118.04" y1="99.07" x2="114.19" y2="105.58"></line>
  </svg>
</ng-template>
