<svg class="dracula svg-container" viewBox="0 0 206.58 334.71" width="90%" height="95%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <g monster-part part-name="outer" part-type="group" class="">
      <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

      <g monster-part part-name="body" part-type="group" part-outline="true" class="body">
         <polygon class="body-part body-part--top" points="145.49 266.49 61.06 266.49 -0.03 166.71 206.59 166.71 145.49 266.49"></polygon>
         <polygon class="body-part body-part--bottom" points="145 266.49 61.06 266.49 -34.33 620.09 240.88 620.09 145.49 266"></polygon>
      </g>
      <g monster-part part-group="body" part-type="container"></g>
      <g class="head">
         <g monster-part part-name="head-figure" part-type="group" class="head-figure">
            <path class="hair-part hair-part--back" d="M79.78,3.64A30.21,30.21,0,0,1,69.23,51a30.2,30.2,0,1,0,34.49,48.06A49.66,49.66,0,1,0,79.78,3.64Z"></path>
            <ellipse class="face" cx="103.28" cy="141.3" rx="32.84" ry="101.27"></ellipse>
            <path class="hair-part hair-part--forward" d="M115,29.3a44.77,44.77,0,0,1-44.8,44.8l9-19.38,19-19.81Z"></path>
         </g>

         <g monster-part part-name="ears" part-type="group" class="ears">
            <ellipse class="ear ear--left" cx="71.4" cy="115.56" rx="13.66" ry="18.22"></ellipse>
            <ellipse class="ear ear--right" cx="135.15" cy="115.56" rx="13.66" ry="18.22"></ellipse>
         </g>
         <g monster-part part-group="ears" part-type="container"></g>


         <g monster-part part-name="mouth" part-type="group" class="mouth">
            <g monster-part part-name="teeth" part-type="group" class="teeth">
               <polygon class="tooth tooth--left" points="90.39 244.06 84.3 193.54 96.48 193.54 90.39 244.06"></polygon>
               <polygon class="tooth tooth--right" points="116.67 244.06 110.58 193.54 122.75 193.54 116.67 244.06"></polygon>
            </g>
            <rect monster-part part-name="mouth-figure" part-type="element" class="mouth-figure" x="82" y="190.5" width="42.86" height="6.03"></rect>
            <path class="blood decor__blood" d="M120.05,267.44a2.51,2.51,0,1,1-5,.13c0-1.57.9-8.55,2.27-8.59S120,265.87,120.05,267.44Z"></path>
         </g>

         <g monster-part part-group="mouth" part-type="container"></g>
         <g monster-part part-group="nose" part-type="container"></g>
         <g monster-part part-name="nose" part-type="group">
           <rect class="nose" x="99.92" y="93.91" width="6.03" height="87.44"></rect>
         </g>
         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <circle monster-part part-name="eye" part-name-mod="left" part-type="element" part-group="eyes" class="eye eye--left" cx="88.29" cy="108.56" r="6.46"></circle>
            <circle monster-part part-name="eye" part-name-mod="right" part-type="element" part-group="eyes" class="eye eye--right" cx="118.01" cy="108.56" r="6.46"></circle>
            <rect class="eyebrows" x="81.9" y="89.55" width="42.86" height="6.03"></rect>
         </g>
         <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-group="head-figure" part-type="container"></g>
      </g>

      <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
   </g>
</svg>
