wolf {
  .wolf {
    left: 0;

    & .body {
      fill: #666;
    }

    & .tongue {
      fill: #f24942;
    }

    & .jaw {
      fill: #666;
    }

    & .cheek {
      fill: #666;
    }

    & .saliva {
      fill: #80b7e5;
    }

    & .snout {
      fill: #666;
    }

    & .face {
      fill: #666;
    }

    & .ear {
      fill: #666;
    }

    & .eyeball {
      fill: #f1ea35;

      &--lid {
        fill: #666;
      }
    }

    & .smile-part {
      fill: #666;
    }

    & .tooth {
      fill: white;
    }
  }
}
