<svg class="wolf svg-container" viewBox="20 -20 274.56 342.51" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMinYMax meet">
  <svg monster-part part-name="confetti" part-type="group" part-hidden="true" visibility="hidden" width="273.92" height="287.1" y="-20" x="0" viewBox="0 0 251.31 263.4" xmlns="http://www.w3.org/2000/svg">
    <circle cx="59.71" cy="5.67" r="3.95" transform="translate(0.93 17.6) rotate(-16.89)"/>
    <circle cx="179.21" cy="9.67" r="3.95" transform="translate(4.92 52.49) rotate(-16.89)"/>
    <circle cx="194.21" cy="73.67" r="3.95" transform="translate(-13.03 59.61) rotate(-16.89)"/>
    <circle cx="234.21" cy="48.67" r="3.95" transform="translate(-4.04 70.16) rotate(-16.89)"/>
    <circle cx="236.71" cy="119.67" r="3.95" transform="translate(-24.56 73.95) rotate(-16.89)"/>
    <circle cx="242.71" cy="195.17" r="3.95" transform="translate(-46.24 78.95) rotate(-16.89)"/>
    <circle cx="196.21" cy="256.67" r="3.95" transform="translate(-66.12 68.09) rotate(-16.89)"/>
    <circle cx="5.71" cy="101.67" r="3.95" transform="translate(-29.3 6.05) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="106.71" cy="11.67" r="3.95" transform="translate(1.21 31.51) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="160.36" cy="90.95" r="3.95" transform="translate(-19.51 50.52) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="187.86" cy="36.95" r="3.95" transform="translate(-2.63 56.18) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="179.36" cy="222.95" r="3.95" transform="translate(-57.05 61.74) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="7.86" cy="167.95" r="3.95" transform="translate(-48.47 9.53) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="65.86" cy="31.45" r="3.95" transform="translate(-6.3 20.49) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="6.36" cy="3.95" r="3.95" transform="translate(-0.87 2.02) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="224.86" cy="72.45" r="3.95" transform="translate(-11.35 68.47) rotate(-16.89)"/>
    <circle class="confetti--color--pink" cx="247.36" cy="259.45" r="3.95" transform="translate(-64.72 83.08) rotate(-16.89)"/>
    <circle cx="116.71" cy="49.17" r="3.95" transform="translate(-9.25 36.04) rotate(-16.89)"/>
    <circle class="confetti--color--dark-yellow" cx="131.38" cy="23.67" r="5.71" transform="translate(-1.21 39.2) rotate(-16.89)"/>
    <circle class="confetti--color--dark-yellow" cx="214.71" cy="47.34" r="5.71" transform="translate(-4.49 64.44) rotate(-16.89)"/>
    <circle class="confetti--color--dark-yellow" cx="5.71" cy="187.17" r="5.71" transform="translate(-54.14 9.74) rotate(-16.89)"/>
    <circle class="confetti--color--dark-yellow" cx="193.21" cy="232.67" r="5.71" transform="translate(-59.27 66.19) rotate(-16.89)"/>
    <circle class="confetti--color--dark-yellow" cx="224.75" cy="248.83" r="5.71" transform="translate(-62.61 76.05) rotate(-16.89)"/>
    <circle class="confetti--color--dark-blue" cx="167.21" cy="59.17" r="5.71" transform="translate(-9.98 51.14) rotate(-16.89)"/>
    <circle class="confetti--color--dark-blue" cx="7.21" cy="142.17" r="5.71" transform="translate(-41 8.23) rotate(-16.89)"/>
    <circle class="confetti--color--dark-blue" cx="238.71" cy="94.17" r="5.71" transform="translate(-17.06 73.43) rotate(-16.89)"/>
    <circle class="confetti--color--dark-blue" cx="231.71" cy="8.67" r="5.71" transform="translate(7.48 67.71) rotate(-16.89)"/>
    <circle class="confetti--color--dark-blue" cx="236.71" cy="218.67" r="5.71" transform="translate(-53.33 78.22) rotate(-16.89)"/>
  </svg>

   <g monster-part part-name="outer" part-type="group" class="">
     <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>
     <g monster-part part-name="body" part-type="group" part-outline="true">
       <rect class="body" x="-21" y="192.5" width="194.13" height="465.27"></rect>
     </g>
      <g class="head">
         <g monster-part part-name="mouth" part-type="group" class="mouth">
            <rect monster-part part-name="tongue" part-type="element" part-group="mouth" class="tongue" x="24.31" y="119.4" width="226.72" height="55.94" rx="27.93" ry="27.97"></rect>
            <rect monster-part part-name="jaw" part-type="element" part-group="mouth" class="jaw" x="23.78" y="175.24" width="195.57" height="20.31"></rect>
            <rect class="cheek" x="23.78" y="106.91" width="125.28" height="74.65"></rect>
            <g monster-part part-name="teeth" part-type="group" part-group="mouth" class="teeth">
               <polygon class="tooth" points="205.91 175.57 199.15 119.4 212.68 119.4 205.91 175.57"></polygon>
               <polygon class="tooth" points="184.59 175.57 177.82 119.4 191.35 119.4 184.59 175.57"></polygon>
               <polygon class="tooth" points="163.26 175.57 156.49 119.4 170.03 119.4 163.26 175.57"></polygon>
            </g>
            <g monster-part part-name="drooling" part-type="group" part-group="mouth" class="drooling decor__drooling">
               <path class="saliva" d="M221.84,134.24a2.35,2.35,0,1,1-4.65.12c0-1.47.84-8,2.13-8S221.8,132.77,221.84,134.24Z"></path>
               <path class="saliva" d="M229.73,188.83a2.35,2.35,0,1,1-4.65.12c0-1.47.84-8,2.13-8S229.7,187.36,229.73,188.83Z"></path>
               <path class="saliva" d="M197.77,178.05a2.35,2.35,0,1,1-4.65.12c0-1.47.84-8,2.13-8S197.73,176.58,197.77,178.05Z"></path>
               <path class="saliva" d="M176.22,161.17a2.35,2.35,0,1,1-4.65.12c0-1.47.84-8,2.13-8S176.19,159.7,176.22,161.17Z"></path>
            </g>
            <g monster-part part-name="jaw-closed" part-type="group" part-hidden="true" visibility="hidden">
              <svg width="195.56" height="86.75" x="23.8" y="106" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 195.57 86.75">
                <polygon class="jaw" points="195.57 31.96 0 84 0 11.66 195.57 11.66 195.57 31.96"/>
                <rect class="jaw" width="149.14" height="86.75"/>
              </svg>
            </g>
         </g>



         <polygon class="snout" points="219.34 119.39 23.78 119.39 23.78 61.81 219.34 96.35 219.34 119.39"></polygon>
         <g monster-part part-name="ears" part-type="group" class="ears">
           <polygon class="ear ear--left" points="46.7 0.05 23.78 56.72 69.63 56.72 46.7 0.05"></polygon>
           <polygon class="ear ear--right" points="91.45 0.05 68.53 56.72 114.38 56.72 91.45 0.05"></polygon>
         </g>
         <g monster-part part-group="ears" part-type="container"></g>

        <rect monster-part part-name="head-figure" part-type="group" class="face" x="23.78" y="56.1" width="125.28" height="74.65"></rect>

         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--left">
               <g class="eyeball">
                  <path class="eyeball-part eyeball-part--top" d="M53.75,82.9a22.69,22.69,0,0,0,32.1,0"></path>
                  <path class="eyeball-part eyeball-part--bottom" d="M85.86,82.9a22.69,22.69,0,0,0-32.1,0"></path>
               </g>
               <g class="pupil">
                  <path class="pupil-part pupil-part--top" d="M69.8,76.25a9.41,9.41,0,0,0,0,13.31"></path>
                  <path class="pupil-part pupil-part--bottom" d="M69.8,89.56a9.41,9.41,0,0,0,0-13.31"></path>
               </g>
            </g>
            <g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--right">
               <g class="eyeball">
                  <path class="eyeball-part eyeball-part--top" d="M95,82.9a22.69,22.69,0,0,0,32.1,0"></path>
                  <path class="eyeball-part eyeball-part--bottom" d="M127.11,82.9a22.69,22.69,0,0,0-32.1,0"></path>
               </g>
               <g class="pupil">
                  <path class="pupil-part pupil-part--top" d="M111.06,76.25a9.41,9.41,0,0,0,0,13.31"></path>
                  <path class="pupil-part pupil-part--bottom" d="M111.06,89.56a9.41,9.41,0,0,0,0-13.31"></path>
               </g>
            </g>
         </g>
         <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-group="head-figure" part-type="container"></g>

      </g>

      <g monster-part part-group="body" part-type="container"></g>
      <g monster-part part-group="mouth" part-type="container"></g>
      <g monster-part part-group="nose" part-type="container"></g>
      <g monster-part part-name="nose" part-type="group" class="nose">
         <circle class="nose-figure" cx="218.98" cy="95.93" r="8.93"></circle>
      </g>
      <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
   </g>
</svg>
