<svg class="wolf svg-container" viewBox="0 0 264.56 322.51" width="90%" height="90%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <g monster-part part-name="outer" part-type="group" class="">
     <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>
     <g monster-part part-name="body" part-type="group" part-outline="true">
       <rect class="body" x="-21" y="192.5" width="194.13" height="465.27"></rect>
     </g>
     <g monster-part part-group="body" part-type="container"></g>
      <g class="head">
         <g monster-part part-name="mouth" part-type="group" class="mouth">
            <rect monster-part part-name="tongue" part-type="element" part-group="mouth" class="tongue" x="24.31" y="119.4" width="226.72" height="55.94" rx="27.93" ry="27.97"></rect>
            <rect monster-part part-name="jaw" part-type="element" part-group="mouth" class="jaw" x="23.78" y="175.24" width="195.57" height="20.31"></rect>
            <rect class="cheek" x="23.78" y="106.91" width="125.28" height="74.65"></rect>
            <g monster-part part-name="teeth" part-type="group" part-group="mouth" class="teeth">
               <polygon class="tooth" points="205.91 175.57 199.15 119.4 212.68 119.4 205.91 175.57"></polygon>
               <polygon class="tooth" points="184.59 175.57 177.82 119.4 191.35 119.4 184.59 175.57"></polygon>
               <polygon class="tooth" points="163.26 175.57 156.49 119.4 170.03 119.4 163.26 175.57"></polygon>
            </g>
            <g monster-part part-name="drooling" part-type="group" part-group="mouth" class="drooling decor__drooling">
               <path class="saliva" d="M221.84,134.24a2.35,2.35,0,1,1-4.65.12c0-1.47.84-8,2.13-8S221.8,132.77,221.84,134.24Z"></path>
               <path class="saliva" d="M229.73,188.83a2.35,2.35,0,1,1-4.65.12c0-1.47.84-8,2.13-8S229.7,187.36,229.73,188.83Z"></path>
               <path class="saliva" d="M197.77,178.05a2.35,2.35,0,1,1-4.65.12c0-1.47.84-8,2.13-8S197.73,176.58,197.77,178.05Z"></path>
               <path class="saliva" d="M176.22,161.17a2.35,2.35,0,1,1-4.65.12c0-1.47.84-8,2.13-8S176.19,159.7,176.22,161.17Z"></path>
            </g>
            <g monster-part part-name="jaw-closed" part-type="group" part-hidden="true" visibility="hidden">
              <svg width="195.56" height="86.75" x="23.8" y="106" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 195.57 86.75">
                <polygon class="jaw" points="195.57 31.96 0 84 0 11.66 195.57 11.66 195.57 31.96"/>
                <rect class="jaw" width="149.14" height="86.75"/>
              </svg>
            </g>
         </g>



         <polygon class="snout" points="219.34 119.39 23.78 119.39 23.78 61.81 219.34 96.35 219.34 119.39"></polygon>
         <g class="ears">
           <polygon class="ear ear--left" points="46.7 0.05 23.78 56.72 69.63 56.72 46.7 0.05"></polygon>
           <polygon class="ear ear--right" points="91.45 0.05 68.53 56.72 114.38 56.72 91.45 0.05"></polygon>
         </g>
         <rect monster-part part-name="head-figure" part-type="group" class="face" x="23.78" y="56.1" width="125.28" height="74.65"></rect>
         <g monster-part part-name="eyes" part-type="group" class="eyes">
            <g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--left">
               <g class="eyeball">
                  <path class="eyeball-part eyeball-part--top" d="M53.75,82.9a22.69,22.69,0,0,0,32.1,0"></path>
                  <path class="eyeball-part eyeball-part--bottom" d="M85.86,82.9a22.69,22.69,0,0,0-32.1,0"></path>
               </g>
               <g class="pupil">
                  <path class="pupil-part pupil-part--top" d="M69.8,76.25a9.41,9.41,0,0,0,0,13.31"></path>
                  <path class="pupil-part pupil-part--bottom" d="M69.8,89.56a9.41,9.41,0,0,0,0-13.31"></path>
               </g>
            </g>
            <g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--right">
               <g class="eyeball">
                  <path class="eyeball-part eyeball-part--top" d="M95,82.9a22.69,22.69,0,0,0,32.1,0"></path>
                  <path class="eyeball-part eyeball-part--bottom" d="M127.11,82.9a22.69,22.69,0,0,0-32.1,0"></path>
               </g>
               <g class="pupil">
                  <path class="pupil-part pupil-part--top" d="M111.06,76.25a9.41,9.41,0,0,0,0,13.31"></path>
                  <path class="pupil-part pupil-part--bottom" d="M111.06,89.56a9.41,9.41,0,0,0,0-13.31"></path>
               </g>
            </g>
         </g>
         <g monster-part part-group="eyes" part-type="container"></g>
         <g monster-part part-group="head-figure" part-type="container"></g>

      </g>
      <g monster-part part-group="mouth" part-type="container"></g>
      <g monster-part part-group="nose" part-type="container"></g>
      <g monster-part part-name="nose" part-type="group" class="nose">
         <circle class="nose-figure" cx="218.98" cy="95.93" r="8.93"></circle>
      </g>
      <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
   </g>
</svg>
