<svg class="bed svg-container" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-10 -20 225.284 289.38">
  <svg monster-part part-name="confetti" part-type="group" part-hidden="true" visibility="hidden" width="239.83" height="261.83" y="0" x="-20" viewBox="0 0 239.83 261.83" xmlns="http://www.w3.org/2000/svg">
    <circle class="confetti--color--yellow" cx="89.41" cy="9.91" r="3.4" transform="translate(20.79 68.09) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="187.41" cy="50.91" r="3.4" transform="translate(21.68 152.15) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="133.88" cy="55.25" r="3.4" transform="translate(1.77 114.61) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="158.88" cy="80.25" r="3.4" transform="translate(-8.57 140.6) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="189.38" cy="254.75" r="3.4" transform="translate(-125.84 217.41) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="226.91" cy="16.41" r="3.4" transform="translate(59.13 170.06) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="11.91" cy="111.91" r="3.4" transform="translate(-77.61 43.7) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="5.41" cy="54.91" r="3.4" transform="translate(-38.22 21.13) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="56.41" cy="221.41" r="3.4" transform="translate(-143.26 110.33) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="79.91" cy="245.41" r="3.4" transform="translate(-153.34 134.93) rotate(-46.62)"/>
    <circle class="confetti--color--yellow" cx="10.41" cy="254.91" r="3.4" transform="translate(-182.01 87.39) rotate(-46.62)"/>
    <circle class="confetti--color--blue" cx="128.41" cy="25.91" r="4.91" transform="translate(21.38 101.44) rotate(-46.62)"/>
    <circle class="confetti--color--blue" cx="188.91" cy="9.91" r="4.91" transform="translate(51.95 140.4) rotate(-46.62)"/>
    <circle class="confetti--color--blue" cx="229.41" cy="67.41" r="4.91" transform="translate(22.84 187.85) rotate(-46.62)"/>
    <circle class="confetti--color--blue" cx="209.91" cy="245.91" r="4.91" transform="translate(-113 229.57) rotate(-46.62)"/>
    <circle class="confetti--color--blue" cx="60.41" cy="181.41" r="4.91" transform="translate(-112.93 100.72) rotate(-46.62)"/>
    <circle class="confetti--color--blue" cx="9.41" cy="203.41" r="4.91" transform="translate(-144.89 70.54) rotate(-46.62)"/>
    <circle class="confetti--color--blue" cx="4.91" cy="19.41" r="4.91" transform="translate(-12.57 9.65) rotate(-46.62)"/>
    <circle class="confetti--color--blue" cx="190.41" cy="80.41" r="4.91" transform="translate(1.18 163.57) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="110.41" cy="4.91" r="4.91" transform="translate(31 81.79) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="157.91" cy="48.41" r="4.91" transform="translate(14.26 129.93) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="228.91" cy="45.41" r="4.91" transform="translate(38.68 180.59) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="172.41" cy="21.91" r="4.91" transform="translate(38.06 132.17) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="234.91" cy="256.91" r="4.91" transform="translate(-113.16 251.18) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="133.41" cy="252.91" r="4.91" transform="translate(-142.04 176.16) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="56.91" cy="244.91" r="4.91" transform="translate(-160.18 118.06) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="11.91" cy="176.41" r="4.91" transform="translate(-124.48 63.9) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="15.41" cy="84.41" r="4.91" transform="translate(-56.52 37.64) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="4.91" cy="138.41" r="4.91" transform="translate(-99.06 46.91) rotate(-46.62)"/>
  </svg>

  <g monster-part part-name="outer" part-type="group" class="">
    <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

    <g class="monster">
      <g monster-part part-group="flower" part-type="container"></g>

      <g monster-part part-name="necklace" part-type="group"></g>
      <g monster-part part-group="necklace" part-type="container"></g>

      <g monster-part part-name="body" part-type="group" part-outline="true" class="body">
        <rect x="130.76" y="206.74" width="117.63" height="23.46" rx="11.73" ry="11.73"/>
        <rect x="130.76" y="215.26" width="6.04" height="34.12" rx="3.02" ry="3.02"/>
        <rect x="138.11" y="215.26" width="6.04" height="34.12" rx="3.02" ry="3.02"/>
        <rect x="145.45" y="215.26" width="6.04" height="34.12" rx="3.02" ry="3.02"/>
        <rect x="152.8" y="207.67" width="6.04" height="30.92" rx="3.02" ry="3.02"/>
      </g>



      <g monster-part part-name="flower" part-type="group">
        <g monster-part part-name="head-figure" part-type="group">
          <ellipse class="head-figure" cx="89.06" cy="176.45" rx="38.45" ry="62.44"/>
        </g>
      </g>

      <g monster-part part-name="mouth" part-type="group" class="mouth">
        <polygon class="tooth" points="72.44 221 70.86 211.2 74.03 211.2 72.44 221"/>
        <polygon class="tooth" points="77.53 221 75.95 211.2 79.12 211.2 77.53 221"/>
        <polygon class="tooth" points="82.63 221 81.04 211.2 84.21 211.2 82.63 221"/>
      </g>

      <g monster-part part-name="nose" part-type="group" class="nose">
        <circle class="nostril" cx="74.79" cy="191.75" r="1.44"/>
        <circle class="nostril" cx="80.28" cy="191.75" r="1.44"/>
      </g>

      <svg width="25.79" height="4.09" x="65" y="168" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.79 4.09">
        <g monster-part part-name="eyelashes" part-type="group" part-hidden="true" visibility="hidden" class="eyelashes">
          <line class="eyelash" x1="0.25" x2="0.25" y2="4.09"/>
          <line class="eyelash" x1="1.52" x2="1.52" y2="4.09"/>
          <line class="eyelash" x1="2.79" x2="2.79" y2="4.09"/>
          <line class="eyelash" x1="23" x2="23" y2="4.09"/>
          <line class="eyelash" x1="24.27" x2="24.27" y2="4.09"/>
          <line class="eyelash" x1="25.54" x2="25.54" y2="4.09"/>
        </g>
      </svg>

      <g monster-part part-name="eyes" part-type="group" class="eyes">
        <g class="eye eye--left">
          <path class="eyeball" d="M56.66,176.28a13.34,13.34,0,0,0,18.88,0A13.34,13.34,0,0,0,56.66,176.28Z" transform="translate(0 -0.4)"/>
          <circle class="iris" cx="66.1" cy="175.87" r="3.99"/>
        </g>

         <g class="eye eye--right">
          <path class="eyeball" d="M79.53,176.28a13.34,13.34,0,0,0,18.88,0A13.34,13.34,0,0,0,79.53,176.28Z" transform="translate(0 -0.4)"/>
          <circle class="iris" cx="88.97" cy="175.87" r="3.99"/>
        </g>
      </g>

      <g monster-part part-group="eyes" part-type="container"></g>


    </g>

    <g class="bed">
      <g class="sheets">
        <rect class="sheets" x="160.18" y="-29.29" width="15.05" height="311.22" transform="translate(294.02 -41.79) rotate(90)"/>
        <rect class="sheets" x="159.92" y="-43.93" width="15.05" height="311.22" transform="translate(279.12 -56.17) rotate(90)"/>
        <path class="sheets" d="M17.72,20.67A84.23,84.23,0,0,0,102,104.95,84.23,84.23,0,0,0,17.72,20.67Z" transform="translate(0 -0.4)"/>
      </g>

      <g class="frame">
        <circle class="frame" cx="10.03" cy="10.03" r="10.03"/>
        <rect class="frame" x="2.81" y="19.26" width="15.05" height="219.75"/>
        <rect class="frame" x="159.92" y="-14.17" width="15.05" height="311.22" transform="translate(308.88 -26.4) rotate(90)"/>
        <rect class="frame" x="319.84" y="46.22" width="15.05" height="192.8"/>
        <rect class="blanket" x="155.67" y="52.54" width="120.11" height="208.48" transform="translate(372.5 -59.35) rotate(90)"/>
      </g>
    </g>

    <g monster-part part-name="ears" part-type="group" part-hidden="true" visibility="hidden" part-outline="true" class="ears">
      <ellipse cx="48" cy="180" rx="6.2" ry="11.97"/>
      <ellipse cx="113" cy="180" rx="6.2" ry="11.97"/>
    </g>
    <g monster-part part-group="ears" part-type="container"></g>

    <g monster-part part-group="head-figure" part-type="container"></g>
    <g monster-part part-group="body" part-type="container"></g>

    <g monster-part part-group="mouth" part-type="container"></g>
  	<g monster-part part-group="nose" part-type="container"></g>

    <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
  </g>
</svg>
