bed {
  .bed {
    right: 0;
    bottom: 0;
    overflow: visible;

    @media (max-width: 450px) {
      height: 90%;
    }

    & .tooth,
    & .nostril {
      fill: #4c4c4c;
    }

    & .eyeball {
      fill: #fff;

      &--lid {
        fill: black;
      }
    }

    & .mouth-figure {
      fill: #F24943;
    }

    & .eyelash {
      fill:none;
      stroke:#fff;
      stroke-miterlimit:10;
      stroke-width:0.5px;
    }

    & .sheets {
      fill: #fff;
    }

    & .iris {
      fill: #f24943;
    }

    & .frame {
      fill: #9a9b9b;
    }

    & .blanket {
      fill: #00bcc5;
    }
  }
}
