<svg class="bed svg-container" width="85%" height="85%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 235.284 249.38">
  <g monster-part part-name="outer" part-type="group" class="">
    <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

    <g class="monster">
      <g monster-part part-group="flower" part-type="container"></g>

      <g monster-part part-group="body" part-type="container"></g>

      <g monster-part part-name="body" part-type="group" part-outline="true" class="body">
        <rect x="130.76" y="206.74" width="117.63" height="23.46" rx="11.73" ry="11.73"/>
        <rect x="130.76" y="215.26" width="6.04" height="34.12" rx="3.02" ry="3.02"/>
        <rect x="138.11" y="215.26" width="6.04" height="34.12" rx="3.02" ry="3.02"/>
        <rect x="145.45" y="215.26" width="6.04" height="34.12" rx="3.02" ry="3.02"/>
        <rect x="152.8" y="207.67" width="6.04" height="30.92" rx="3.02" ry="3.02"/>
      </g>

      <g monster-part part-name="flower" part-type="group">
        <g monster-part part-name="head-figure" part-type="group">
          <ellipse class="head-figure" cx="89.06" cy="176.45" rx="38.45" ry="62.44"/>
        </g>
      </g>

      <g monster-part part-name="mouth" part-type="group" class="mouth">
        <polygon class="tooth" points="72.44 221 70.86 211.2 74.03 211.2 72.44 221"/>
        <polygon class="tooth" points="77.53 221 75.95 211.2 79.12 211.2 77.53 221"/>
        <polygon class="tooth" points="82.63 221 81.04 211.2 84.21 211.2 82.63 221"/>
      </g>

      <g monster-part part-name="nose" part-type="group" class="nose">
        <circle class="nostril" cx="74.79" cy="191.75" r="1.44"/>
        <circle class="nostril" cx="80.28" cy="191.75" r="1.44"/>
      </g>

      <g monster-part part-name="eyes" part-type="group" class="eyes">
        <g class="eye eye--left">
          <path class="eyeball" d="M56.66,176.28a13.34,13.34,0,0,0,18.88,0A13.34,13.34,0,0,0,56.66,176.28Z" transform="translate(0 -0.4)"/>
          <circle class="iris" cx="66.1" cy="175.87" r="3.99"/>
        </g>

         <g class="eye eye--right">
          <path class="eyeball" d="M79.53,176.28a13.34,13.34,0,0,0,18.88,0A13.34,13.34,0,0,0,79.53,176.28Z" transform="translate(0 -0.4)"/>
          <circle class="iris" cx="88.97" cy="175.87" r="3.99"/>
        </g>
      </g>

      <g monster-part part-group="eyes" part-type="container"></g>


    </g>

    <g class="bed">
      <g class="sheets">
        <rect class="sheets" x="160.18" y="-29.29" width="15.05" height="311.22" transform="translate(294.02 -41.79) rotate(90)"/>
        <rect class="sheets" x="159.92" y="-43.93" width="15.05" height="311.22" transform="translate(279.12 -56.17) rotate(90)"/>
        <path class="sheets" d="M17.72,20.67A84.23,84.23,0,0,0,102,104.95,84.23,84.23,0,0,0,17.72,20.67Z" transform="translate(0 -0.4)"/>
      </g>

      <g class="frame">
        <circle class="frame" cx="10.03" cy="10.03" r="10.03"/>
        <rect class="frame" x="2.81" y="19.26" width="15.05" height="219.75"/>
        <rect class="frame" x="159.92" y="-14.17" width="15.05" height="311.22" transform="translate(308.88 -26.4) rotate(90)"/>
        <rect class="frame" x="319.84" y="46.22" width="15.05" height="192.8"/>
        <rect class="blanket" x="155.67" y="52.54" width="120.11" height="208.48" transform="translate(372.5 -59.35) rotate(90)"/>
      </g>
    </g>

    <g monster-part part-name="ears" part-type="group" part-hidden="true" visibility="hidden" part-outline="true" class="ears">
      <ellipse cx="48" cy="180" rx="6.2" ry="11.97"/>
      <ellipse cx="113" cy="180" rx="6.2" ry="11.97"/>
    </g>
    <g monster-part part-group="ears" part-type="container"></g>

    <g monster-part part-group="head-figure" part-type="container"></g>
    <g monster-part part-group="mouth" part-type="container"></g>
  	<g monster-part part-group="nose" part-type="container"></g>

    <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
  </g>
</svg>
