sound-toggler {
  & .toggler {
    display: inline-block;
  }

  & .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;

    background-image: url('../assets/icon/icon__sound--grey.svg');
    background-size: 40px 38px;

    &--no-sound {
      background-image: url('../assets/icon/icon__no-sound--grey.svg');
    }
  }

  &.btn--white .btn {
    background-image: url('../assets/icon/icon__sound--white.svg');

    &--no-sound {
      background-image: url('../assets/icon/icon__no-sound--white.svg');
    }
  }

  .screen__btns--monster--10 & .btn {
    background-image: url('../assets/icon/icon__sound--black.svg');

    &--no-sound {
      background-image: url('../assets/icon/icon__no-sound--black.svg');
    }
  }
}
