<svg class="ghost svg-container" preserveAspectRatio="xMidYMax meet" viewBox="-20 -30 285.74 355.76" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <svg monster-part part-name="confetti" part-type="group" part-hidden="true" visibility="hidden" width="245" height="146.44" y="0" x="0" viewBox="0 0 218.75 130.75" xmlns="http://www.w3.org/2000/svg">
    <circle class="confetti--color--pink" cx="197.87" cy="17.87" r="4.75" transform="translate(48.97 149.41) rotate(-46.62)"/>
    <circle class="confetti--color--pink" cx="35.14" cy="42.42" r="4.75" transform="translate(-19.83 38.82) rotate(-46.62)"/>
    <circle class="confetti--color--pink" cx="202.87" cy="81.87" r="4.75" transform="translate(4.02 173.08) rotate(-46.62)"/>
    <circle class="confetti--color--dark-yellow" cx="8.87" cy="17.87" r="6.87" transform="translate(-10.21 12.05) rotate(-46.62)"/>
    <circle class="confetti--color--dark-yellow" cx="6.87" cy="123.87" r="6.87" transform="translate(-87.88 43.78) rotate(-46.62)"/>
    <circle class="confetti--color--dark-yellow" cx="211.87" cy="120.87" r="6.87" transform="translate(-21.5 191.84) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="68.87" cy="6.87" r="6.87" transform="translate(16.57 52.21) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="189.15" cy="47.87" r="6.87" transform="translate(24.44 152.46) rotate(-46.62)"/>
    <circle class="confetti--color--dark-blue" cx="20.87" cy="75.87" r="6.87" transform="translate(-48.61 38.93) rotate(-46.62)"/>
  </svg>

   <g monster-part part-name="outer" part-type="group" class="">
      <defs class="defs">
         <clipPath class="clipPath" id="mouth-clip-path">
            <ellipse class="mouth-clip-path-figure" cx="122.87" cy="152.77" rx="28.28" ry="61.84"></ellipse>
         </clipPath>
      </defs>
      <g monster-part part-group="outer" part-type="container" part-name-mod="behind"></g>

      <g monster-part part-name="body" part-type="group" part-outline="true">
        <path monster-part part-name="head-figure" part-type="group" class="body" d="M122.87,0C50.59,0-8,222.7-8,497.41q0,5.15,0,10.26c.32,0,.62.07.95.07,21.75,0,21.75-48.95,43.49-48.95S58.22,507.74,80,507.74s21.75-48.95,43.5-48.95,21.75,48.95,43.51,48.95,21.75-48.95,43.51-48.95,21.76,48.49,43.22,48.93q0-5.14,0-10.31C253.74,222.7,195.14,0,122.87,0Z"></path>
      </g>
      <g monster-part part-group="body" part-type="container"></g>

      <g monster-part part-name="ears" part-type="group" part-hidden="true" visibility="hidden" part-outline="true" class="ears">
        <ellipse class="ear" cx="45" cy="90" rx="18.02" ry="33.49"/>
        <ellipse class="ear" cx="200" cy="90" rx="18.02" ry="33.49"/>
      </g>
      <g monster-part part-group="ears" part-type="container"></g>

      <svg width="87.8" height="25.2" x="79" y="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.25 26.58">
        <g monster-part part-name="eyelashes" part-type="group" part-hidden="true" visibility="hidden" class="eyelashes">
          <line class="eyelash" x1="0.71" y1="10.71" x2="15.87" y2="25.87"/>
          <line class="eyelash" x1="2.37" y1="5.71" x2="17.54" y2="20.87"/>
          <line class="eyelash" x1="4.04" y1="0.71" x2="19.21" y2="15.87"/>
          <line class="eyelash" x1="88.54" y1="10.71" x2="73.37" y2="25.87"/>
          <line class="eyelash" x1="86.87" y1="5.71" x2="71.71" y2="20.87"/>
          <line class="eyelash" x1="85.21" y1="0.71" x2="70.04" y2="15.87"/>
        </g>
      </svg>

      <g monster-part part-name="eyes" part-type="group" class="eyes">
         <g monster-part part-name="eye" part-name-mod="left" part-type="group" part-group="eyes" class="eye eye--left">
            <path class="pupil" d="M104.3,76.32A10.75,10.75,0,1,1,115,65.57,10.76,10.76,0,0,1,104.3,76.32Z"></path>
            <path class="eyeball" d="M104.3,58.58a7,7,0,1,1-7,7,7,7,0,0,1,7-7m0-7.52a14.51,14.51,0,1,0,14.51,14.51A14.51,14.51,0,0,0,104.3,51.06Z"></path>
         </g>
         <g monster-part part-name="eye" part-name-mod="right" part-type="group" part-group="eyes" class="eye eye--right">
            <path class="pupil" d="M141.44,76.32a10.75,10.75,0,1,1,10.75-10.75A10.76,10.76,0,0,1,141.44,76.32Z"></path>
            <path class="eyeball" d="M141.44,58.58a7,7,0,1,1-7,7,7,7,0,0,1,7-7m0-7.52a14.51,14.51,0,1,0,14.51,14.51,14.51,14.51,0,0,0-14.51-14.51Z"></path>
         </g>
      </g>
			<g monster-part part-group="eyes" part-type="container"></g>
      <g monster-part part-name="mouth" part-type="group" class="mouth">
         <ellipse class="mouth-figure" cx="122.87" cy="152.77" rx="28.28" ry="61.84"></ellipse>
         <path class="ubula" d="M148.48,125.93c-.46-.25-6-3.12-11.73-.12s-6.62,9.44-6.6,10.64a16.42,16.42,0,0,0,.53,3.55h0a12,12,0,0,0,2.26,4.15l.21.29a10.68,10.68,0,0,1,1.52,5.86,12,12,0,0,1-24,0,11.48,11.48,0,0,1,2.06-6.56l.22-.29a12,12,0,0,0,1.71-3.43h0a12.06,12.06,0,0,1,.54-3.57c.45-1.55-.73-8.54-5.58-10.64-4.17-1.8-10.2.39-13.23,5.9,3.69-21.4,12.94-40.07,26.25-40.76a26.29,26.29,0,0,1,2.71.13C140.48,93.34,147,119.22,148.48,125.93Z"></path>
         <g class="teeth">
            <path class="tooth" d="M121.8,105.44h-8.23L114,94.14a13.26,13.26,0,0,1,5.93-2.92A12.42,12.42,0,0,1,121.8,91Z"></path>
            <path class="tooth" d="M132.42,105.44h-8.23L124.53,91a14.62,14.62,0,0,1,2.74.5,14.92,14.92,0,0,1,5.14,2.63q-.07,2.22-.09,4.53Q132.3,102.15,132.42,105.44Z"></path>
         </g>
      </g>
      <g monster-part part-group="mouth" part-type="container"></g>
      <g monster-part part-name="nose" part-type="group">
        <rect fill="rgba(0,0,0,0)" x="116" y="110" width="1" height="1"></rect>
      </g>
      <g monster-part part-group="nose" part-type="container"></g>
      <g monster-part part-group="head-figure" part-type="container"></g>

      <g monster-part part-group="outer" part-type="container" part-name-mod="forward"></g>
   </g>
</svg>
