ghost {
  .ghost {
    overflow: visible;

    & .body, & .ear {
      fill: #b7e3ee;
    }

    & .eyelash {
      fill:none;
      stroke:#000;
      stroke-miterlimit:10;
      stroke-width:2px;
    }

    & .eyeball {
      fill: #fff;
    }

    & .ubula {
      fill: #f24943;
    }

    & .tooth {
      fill: #fff;
    }

    & .mouth {
      clip-path: url(#mouth-clip-path);
    }
  }
}
